Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit file fix
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-559] - Implementing 'Header' EC inside B2BP (#268)
  .changeset/happy-beans-fry.md
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change deprecated dependencies
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/index.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit review changes
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix style
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-538] - Implementing 'Feature' EC inside B2BP (#239)
  .changeset/moody-teachers-appear.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Feature.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit remove EC dependencies
  apps/nextjs-website/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit remove EC dependencies
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/yellow-teachers-build.md
Owners: none

[B2BP-559] - Removing EC as dependencies (#269)
  .changeset/yellow-teachers-build.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/lib/header.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit storybook
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/.gitignore
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/stories/Button.stories.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Modified IFrame Component
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/types/IFrame/IFrame.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Added IFrame section to Strapi
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/i-frame.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Make Page's slug not unique
  .changeset/empty-lies-cheat.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook fix
  apps/nextjs-website/src/stories/Hero/dark.stories.tsx
  apps/nextjs-website/src/stories/Hero/heroCommons.tsx
  apps/nextjs-website/src/stories/Palette.stories.tsx
  apps/nextjs-website/src/stories/assets/hero-solid-dark.jpg
  apps/nextjs-website/src/stories/assets/hero-solid-light.jpg
  apps/nextjs-website/src/stories/assets/hero_background.jpg
  apps/nextjs-website/src/stories/assets/hero_background_inverse.jpg
  apps/nextjs-website/src/stories/assets/hero_image.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add @mui/lab dependency required by mui-italia
  .changeset/slimy-jars-sneeze.md
  apps/nextjs-website/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Add @mui/lab dependency required by mui-italia (#273)
  .changeset/slimy-jars-sneeze.md
  apps/nextjs-website/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit storybook fix
  apps/nextjs-website/src/stories/Hero/dark.stories.tsx
  apps/nextjs-website/src/stories/Hero/heroCommons.tsx
  apps/nextjs-website/src/stories/Palette.stories.tsx
  apps/nextjs-website/src/stories/assets/hero-solid-dark.jpg
  apps/nextjs-website/src/stories/assets/hero-solid-light.jpg
  apps/nextjs-website/src/stories/assets/hero_background.jpg
  apps/nextjs-website/src/stories/assets/hero_background_inverse.jpg
  apps/nextjs-website/src/stories/assets/hero_image.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/.gitignore
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/stories/Button.stories.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

add-parameter-for-indexing-enable
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Add parameter for cdn indexing enable
  .changeset/four-walls-cheat.md
Owners: none

terraform-fmt
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

enable-indexing-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

disable-indexing-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-584] Add parameter for cdn indexing enable (#275)
  .changeset/four-walls-cheat.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

commit storybook fix
  apps/nextjs-website/src/stories/Hero/dark.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/shiny-months-reply.md
Owners: none

modified iframe component
  apps/nextjs-website/react-components/components/IFrame/IFrame.helpers.ts
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/IFrame.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook update
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/src/stories/Hero/dark.stories.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

PR Review
  apps/nextjs-website/react-components/components/IFrame/IFrame.helpers.ts
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/src/components/IFrame.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook update
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.ts
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/src/stories/Hero/dark.stories.tsx
  apps/nextjs-website/src/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Palette.stories.tsx
  apps/nextjs-website/stories/assets/hero-solid-dark.jpg
  apps/nextjs-website/stories/assets/hero-solid-light.jpg
  apps/nextjs-website/stories/assets/hero_background.jpg
  apps/nextjs-website/stories/assets/hero_background_inverse.jpg
  apps/nextjs-website/stories/assets/hero_image.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Fix path to the public folder
  apps/nextjs-website/.storybook/main.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified iframe component
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook update
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/stories/Palette.stories.tsx
  apps/nextjs-website/stories/Palette.stories.txt
  apps/nextjs-website/stories/Typography.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook update
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/stories/Button.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit storybook update
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/Colors.mdx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/Palette.stories.txt
  apps/nextjs-website/stories/Typography.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove assets
  apps/nextjs-website/stories/assets/hero-solid-dark.jpg
  apps/nextjs-website/stories/assets/hero-solid-light.jpg
  apps/nextjs-website/stories/assets/hero_background.jpg
  apps/nextjs-website/stories/assets/hero_background_inverse.jpg
  apps/nextjs-website/stories/assets/hero_image.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit implementing Accordion inside storybook
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
