Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

commit review changes
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/item.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit cards names change
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-556] - Implementing 'Cards' EC inside B2BP (#253)
  .changeset/polite-lizards-lick.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Cards.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

condition-for-use-custom-certificate-by-cdn
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

update-var
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-555] - Terraform create Parameterization for SSL and CDN multitenacy (#252)
  .changeset/cold-apes-check.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

set-use-custom-certificate-for-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

update-changeset
  .changeset/fair-clouds-jam.md
Owners: none

set-alias-fix
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

Fix for set alias condition for CDN
  .changeset/moody-mugs-sell.md
Owners: none

[B2BP-555] - Fix for set alias condition for CDN (#254)
  .changeset/moody-mugs-sell.md
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

fix-comment
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

remove-ssl-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

remove-ssl-send (#255)
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-cdn-for-tenant-appio
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Add CDN for tenant appio
  .changeset/smooth-tigers-roll.md
Owners: none

[B2BP-563] - Add CDN for tenant appio (#256)
  .changeset/smooth-tigers-roll.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-tenant-appio
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

commit footer component from EC
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/FundedByNextGenerationEU.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-color-dark.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-color-light.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-filled.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-outline.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorDark.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorLight.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgFilled.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgOutline.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/LogoPagoPACompany.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/originals/PagoPA-flat.svg
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/originals/PagoPA.svg
  apps/nextjs-website/react-components/components/Footer/components/ButtonNaked.tsx
  apps/nextjs-website/react-components/components/Footer/components/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/components/LangSwitch.tsx
  apps/nextjs-website/react-components/components/Footer/components/LegalInfo.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Footer.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/new-oranges-rush.md
Owners: none

create-ssl-certificate-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

update-changeset
  .changeset/fair-clouds-jam.md
Owners: none

update-variables
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-275] - Create SSL for SEND Production (#250)
  .changeset/fair-clouds-jam.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

set-custom-certificate-for-cdn-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Set custom certificate for cdn SEND
  .changeset/curvy-mirrors-fail.md
Owners: none

[B2BP-566] - Set custom certificate for cdn SEND (#258)
  .changeset/curvy-mirrors-fail.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-use-alias-parameter
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-use-alias-parameter (#259)
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

commit change hrefNoOp location
  apps/nextjs-website/react-components/components/Footer/Footer.helpers.ts
  apps/nextjs-website/react-components/components/Footer/components/FooterColumn.tsx
  apps/nextjs-website/react-components/types/common/Common.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove unusued part and export
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/FundedByNextGenerationEU.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-color-dark.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-color-light.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-filled.svg
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/originals/nextGenerationEU-outline.svg
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/LogoPagoPACompany.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/originals/PagoPA-flat.svg
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/originals/PagoPA.svg
  apps/nextjs-website/react-components/components/Footer/helpers/ButtonNaked.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LegalInfo.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-499, B2BP-504] - Modify-Workflow-DeployWebSite-for-Multiple-CDN-and-Tenant (#225)
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

[B2BP-500] Make NextJS fetch data based on tenant (#245)
  .changeset/olive-plants-boil.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/tenants.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-policy-privileges-for-cdn
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

Add policy privileges for cdn ro role deploy website
  .changeset/small-ladybugs-share.md
Owners: none

[B2BP-568] - Add policy privileges for cdn to role deploy website (#260)
  .changeset/small-ladybugs-share.md
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

modified editorial style
  apps/nextjs-website/react-components/components/Editorial/Editorial.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/assets/Assets.helpers.ts
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/LogoPagoPACompany.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/DefaultVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/FlatVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/helpers/ButtonNaked.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit footer changes
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
