Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit changeset
  .changeset/chilly-games-run.md
Owners: none

modified iframe
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/neat-dots-cover.md
  .changeset/strange-cups-lay.md
Owners: none

Implemented api/draft route trying to rendere directly on-page, but failed due to components being client-side only
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/app/api/draft/route.ts
  apps/nextjs-website/src/app/api/draft/route.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update-health-check
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

add-SG-to-ALB
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

fmt
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-649] - resources aws for preview strapi (#301)
  .changeset/pink-olives-swim.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecr_repository.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/route_53.tf
  apps/infrastructure/src/security_group.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-workflow-docker (#303)
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/.dockerignore
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-589] - IFrame Component (#270)
  .changeset/neat-dots-cover.md
  .changeset/strange-cups-lay.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/IFrame/IFrame.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/IFrame.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/i-frame.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-654] - Fix style PreHeader (#304)
  .changeset/chilly-games-run.md
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-logs-to-ecs
  apps/infrastructure/src/cloudwatch_logs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_role.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

Add logs to ECS
  .changeset/odd-apples-smoke.md
Owners: none

remove-stream-prefix
  apps/infrastructure/src/cloudwatch_logs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

fmt
  apps/infrastructure/src/cloudwatch_logs.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-649] - Add logs to ECS (#306)
  .changeset/odd-apples-smoke.md
  apps/infrastructure/src/cloudwatch_logs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_role.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

aaa
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

add logs to ecs
  .changeset/chilly-buttons-count.md
Owners: none

add-stream-prefix
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

Add stream prefix to ECS logs
  .changeset/shy-kangaroos-type.md
Owners: none

[B2BP-649] - Add stream prefix to ECS logs (#308)
  .changeset/shy-kangaroos-type.md
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

add-run-build
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Subbed API usage for /preview/page.tsx
  .changeset/polite-rivers-chew.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/api/draft/route.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Fix comment spacing
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove useless const from layout.tsx
  apps/nextjs-website/src/app/layout.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove TODO in favor of Jira Task
  apps/nextjs-website/src/app/preview/page.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Modified accordion component
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Fix AppEnv conflict
  apps/nextjs-website/src/AppEnv.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/proud-books-leave.md
Owners: none

modify-var-ecs
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

add env var for ecs nextjs
  .changeset/strange-kangaroos-accept.md
Owners: none

[B2BP-649] - Modify ECS env var NextJS (#312)
  .changeset/strange-kangaroos-accept.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Owners: @pagopa/b2bportals-maintain

Add Preview Button
  .changeset/fast-meals-chew.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

add-env-var-ecs-strapi-preview
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

[B2BP-658] - Fix style Accordion (#311)
  .changeset/proud-books-leave.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

Modified form component
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-643] Implement Preview Mode in NextJS (#310)
  .changeset/polite-rivers-chew.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-run-build (#309)
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
