Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

Add Tenant PDND in AWS and WorkFlow Deploy CMS
  .changeset/breezy-seas-wash.md
Owners: none

commit review changes
  apps/nextjs-website/react-components/components/Video/Video.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Video.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-773] - Add Tenant PDND on AWS (#363)
  .changeset/breezy-seas-wash.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

ADD-PDND-TENANT
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

ADD-PDND-TENANT (#364)
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit implement video functions
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Filter workflows shown in Strapi deploy plugin by tenant
  .changeset/wise-zebras-lay.md
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Filter workflow shown in Strapi deploy plugin by tenant
  .changeset/seven-schools-perform.md
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit review changes
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add tenants firma and pdnd to NextJS
  .changeset/brave-spoons-jump.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/src/components/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add tenants firma and pdnd to NextJS (#367)
  .changeset/brave-spoons-jump.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Filter workflow shown in Strapi deploy plugin by tenant (#366)
  .changeset/seven-schools-perform.md
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-753] - Implementing 'Video' EC inside B2BP (#350)
  .changeset/smooth-balloons-compare.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit build fix
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/late-gifts-pay.md
Owners: none

[B2BP-753] - Implementing 'Video' EC inside B2BP (#368)
  .changeset/late-gifts-pay.md
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-744] - Update Cards Component (#356)
  .changeset/honest-carrots-retire.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-tenant-interop
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

modify-workflow-pnd-to-interop
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

AWS add Tenant interop
  .changeset/quiet-games-help.md
Owners: none

remove-tenant-pdnd
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

upgrade-certificate-db
  apps/infrastructure/src/rds_aurora.tf
Owners: @pagopa/b2bportals-maintain

AWS Upgrade Database Certificate
  .changeset/brave-rats-give.md
Owners: none

AWS Remove pdnd Tenant
  .changeset/eight-poets-own.md
Owners: none

[B2BP-785] - AWS add Tenant interop (#369)
  .changeset/quiet-games-help.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

upgrade-db-istance
  apps/infrastructure/src/rds_aurora.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-796] - AWS Upgrade Database Certificate (#371)
  .changeset/brave-rats-give.md
  apps/infrastructure/src/rds_aurora.tf
Owners: @pagopa/b2bportals-maintain

Bug fix: Convert 'homepage' slug to '/' inside Header
  .changeset/ninety-cameras-vanish.md
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

implement mobile image on editorial
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/giant-drinks-breathe.md
Owners: none

modify-workflow-pnd-to-interop (#370)
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Rename tenant pdnd to interop
  .changeset/strong-birds-add.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Rename tenant pdnd to interop (#375)
  .changeset/strong-birds-add.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update BannerLink to add multiple sections
  .changeset/smooth-clouds-help.md
  .changeset/tidy-pens-smile.md
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/strapi-cms/src/components/components/banner-link-section.json
  apps/strapi-cms/src/components/sections/banner-link.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update BannerLink to add multiple sections (#376)
  .changeset/smooth-clouds-help.md
  .changeset/tidy-pens-smile.md
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/strapi-cms/src/components/components/banner-link-section.json
  apps/strapi-cms/src/components/sections/banner-link.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Bug fix: Convert 'homepage' slug to '/' inside Header (#373)
  .changeset/ninety-cameras-vanish.md
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-831] - AWS Remove pdnd Tenant (#372)
  .changeset/eight-poets-own.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Add population parameters for new BannerLink to preview
  .changeset/twenty-shrimps-prove.md
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add population parameters for new BannerLink to preview (#377)
  .changeset/twenty-shrimps-prove.md
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
