Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-438] Notify emails on cloudwatch alarms (#396)
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/sns.tf
Owners: @pagopa/b2bportals-maintain

commit changeset
  .changeset/slimy-garlics-eat.md
Owners: none

fix: refactored datasource template_file to function templatefile
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

fix: refactored datasource template_file to function templatefile (#398)
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

commit review changes
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove unusued className
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-692] - Header and MegaHeader Ui fix (#397)
  .changeset/slimy-garlics-eat.md
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update HeroCounter stories
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/polite-dodos-act.md
Owners: none

[B2BP-849] - Update HeroCounter component (#399)
  .changeset/polite-dodos-act.md
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update code
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Revert "commit update code"
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code change
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroChips/dark.stories.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroChips/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update sour-birds-begin.md
  .changeset/sour-birds-begin.md
Owners: none

commit code review
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/HeroChips/dark.stories.tsx
  apps/nextjs-website/stories/HeroChips/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code review
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code review
  apps/nextjs-website/src/app/layout.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code review
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-742] - HeroChips new component (#391)
  .changeset/sour-birds-begin.md
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroChips/dark.stories.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroChips/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code fix
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/twenty-plums-teach.md
Owners: none

[B2BP-883] - VideoImage bug fix (#400)
  .changeset/twenty-plums-teach.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add HeroCounter to Strapi
  .changeset/gentle-rivers-jam.md
  .changeset/large-impalas-burn.md
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/counter.json
  apps/strapi-cms/src/components/sections/hero-counter.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update viewconfig
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-843] Add HeroCounter to Strapi (#401)
  .changeset/gentle-rivers-jam.md
  .changeset/large-impalas-burn.md
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/counter.json
  apps/strapi-cms/src/components/sections/hero-counter.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Bug fix: Make HeroCounter link optional
  .changeset/soft-balloons-suffer.md
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Bug fix: Make HeroCounter link optional (#402)
  .changeset/soft-balloons-suffer.md
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit overflow fix
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/short-candles-bake.md
Owners: none

commit fix header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change filename
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileNav.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.SideDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-871] Bug fix: Header mobile overflow (#403)
  .changeset/short-candles-bake.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileNav.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.SideDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit implement link under storeButtons
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/rare-eyes-allow.md
Owners: none

[B2BP-850] - Implement tertiary Link for Hero component (#404)
  .changeset/rare-eyes-allow.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified howto
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

added page switch
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Page-Switch/Page-Switch.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Page-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Page-Switch/light.stories.tsx
  apps/nextjs-website/stories/Page-Switch/pageSwitchCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
