Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

commit Editorial-Switch component
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Switched from strapi.config.get to strapi.plugin.config to fetch Update Static Content plugin configuration
  .changeset/new-deers-drum.md
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Switched from strapi.config.get to strapi.plugin.config to fetch Update Static Content plugin configuration (#262)
  .changeset/new-deers-drum.md
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Footer/assets/Assets.helpers.ts
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix logo height
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-558] - Implementing 'Footer' EC inside B2BP (#257)
  .changeset/new-oranges-rush.md
  apps/nextjs-website/react-components/components/Footer/Footer.helpers.ts
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorDark.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorLight.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgFilled.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgOutline.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/DefaultVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/FlatVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LegalInfo.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Footer.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Moved @types/koa depedency from devDependencies to standard dependecies
  .changeset/itchy-adults-begin.md
  apps/strapi-cms/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update itchy-adults-begin.md
  .changeset/itchy-adults-begin.md
Owners: none

[B2BP-571] Move @types/koa depedency from devDependencies to standard dependencies (#263)
  .changeset/itchy-adults-begin.md
  apps/strapi-cms/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update Strapi API call to populate storeButtons inside navigation
  .changeset/young-beers-happen.md
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi API call to populate storeButtons inside navigation (#264)
  .changeset/young-beers-happen.md
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Footer/assets/Assets.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-562] - Implementing 'Editorial-Switch' EC inside B2BP (#261)
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit integrate PreHeader from EC to B2BP
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PreHeader/PreHeader.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/preHeader.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/proud-bats-flash.md
Owners: none

Created IFrame Component
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/types/IFrame/IFrame.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix PreHeader files
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
  apps/nextjs-website/react-components/types/PreHeader/PreHeader.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update conditional check
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix preHeader style
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix file
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change colour to palette
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix test files
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/strapi-cms/src/components/components/pre-header-button.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated Strapi security middleware configuration
  .changeset/slow-keys-explain.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/middlewares.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated Strapi security middleware configuration (#266)
  .changeset/slow-keys-explain.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/middlewares.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/strapi-cms/src/components/components/pre-header-button.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-560] - Implementing 'PreHeader' EC inside B2BP (#265)
  .changeset/proud-bats-flash.md
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PreHeader/PreHeader.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/strapi-cms/src/components/components/pre-header-button.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit migrate StripeLink component
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit changeset
  .changeset/chilled-zebras-judge.md
Owners: none

commit review changes
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-561] - Implementing 'StripeLink' EC inside B2BP (#267)
  .changeset/chilled-zebras-judge.md
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/StripeLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit migrate Header
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit changeset
  .changeset/happy-beans-fry.md
Owners: none

Commit fix Header files
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code fix
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
