Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit changeset
  .changeset/little-bobcats-invent.md
Owners: none

Re-enabled Preview Button inside Strapi
  .changeset/purple-scissors-give.md
  apps/strapi-cms/config/plugins.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Re-enabled Preview Button inside Strapi (#337)
  .changeset/purple-scissors-give.md
  apps/strapi-cms/config/plugins.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update form
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-env-var (#334)
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

add-env-var-deploy-nextjs (#335)
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit lint fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/fair-cooks-smell.md
Owners: none

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified prefooter
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified prefooter
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit new variation
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/nasty-pets-occur.md
Owners: none

commit preFooter B2BP
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change from decoration to background
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified hero
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified prefooter
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified prefooter
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit new HeroCounter component
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.helpers.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update .changeset/smart-clouds-decide.md
  .changeset/smart-clouds-decide.md
Owners: none

[B2BP-693] - PreFooter new component (#338)
  .changeset/smart-clouds-decide.md
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/Content.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit colour name change
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update .changeset/little-bobcats-invent.md
  .changeset/little-bobcats-invent.md
Owners: none

modified hero counter
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.helpers.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified hero counter
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified hero counter
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modify-trigger-condition
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

modify-trigger-condition (#340)
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

...
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified hero counter
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit form updated
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/megaheaderCommon.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code refactor
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/megaheaderCommon.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
