Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

commit implementing Feature EC inside B2BP
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/Feature.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/Subtitle.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit implementing HowTo inside B2BP
  apps/nextjs-website/src/components/react-components/src/components/EIcon.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix icon colour
  apps/nextjs-website/src/components/react-components/src/components/Feature/FeatureStackItem.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix install react-swipeable-views
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit shift folder into next.js instead of src/components
  apps/nextjs-website/react-components/src/components/EContainer.tsx
  apps/nextjs-website/react-components/src/components/EIcon.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/src/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/src/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/src/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/src/index-props.ts
  apps/nextjs-website/react-components/src/index.ts
  apps/nextjs-website/react-components/src/types/components.ts
  apps/nextjs-website/react-components/src/types/index.d.ts
  apps/nextjs-website/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/react-components/src/utils/Components.types.ts
  apps/nextjs-website/react-components/src/utils/index.ts
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit image paths
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix HowTo title colour
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit refactoring PR
  .changeset/moody-teachers-appear.md
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/src/components/EContainer.tsx
  apps/nextjs-website/react-components/src/components/EIcon.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/src/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/src/index-props.ts
  apps/nextjs-website/react-components/src/index.ts
  apps/nextjs-website/react-components/src/types/components.ts
  apps/nextjs-website/react-components/src/types/index.d.ts
  apps/nextjs-website/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/react-components/src/utils/Components.types.ts
  apps/nextjs-website/react-components/src/utils/index.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Feature.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit refactoring PR
  .changeset/witty-icons-know.md
  .prettierrc
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit refactoring PR
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Commit refactoring PR
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Commit refactoring PR
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit refactoring PR
  apps/nextjs-website/public/editorial-images/app-store-badge.png
  apps/nextjs-website/public/editorial-images/google-play-badge.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

create-ssl-certificate-for-test-env-send
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Create SSL Certificate for test domain of SEND Website
  .changeset/tiny-laws-stare.md
Owners: none

[B2BP-551] - Create SSL Certificate for Test env SEND (#247)
  .changeset/tiny-laws-stare.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Modified Columns Editorial Hero
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/common/ContainerRCXL.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit style fix
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-503] - Terraform CDN for multitenancy (#229)
  .changeset/dirty-houses-run.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

commit container layout
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/common/ContainerRCXL.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit hero font size
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit integrating Hero from EC into Next.JS
  .prettierrc
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/types/components.ts
  apps/nextjs-website/src/components/react-components/src/types/index.d.ts
  apps/nextjs-website/src/components/react-components/src/utils/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit localhost for testing img in local
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix on Hero component
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit prettier config update
  .prettierrc
Owners: @pagopa/b2bportals-maintain

commit add comment to file
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/witty-icons-know.md
Owners: none

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove localhost for testing image
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit colour fix
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit editorial inside B2BP
  apps/nextjs-website/public/editorial-images/app-store-badge.png
  apps/nextjs-website/public/editorial-images/google-play-badge.png
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring editorial code
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring other editorial component files
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update refactored files
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit implementing Feature EC inside B2BP
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/Feature.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/src/components/react-components/src/components/Feature/Subtitle.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit implementing HowTo inside B2BP
  apps/nextjs-website/src/components/react-components/src/components/EIcon.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix icon colour
  apps/nextjs-website/src/components/react-components/src/components/Feature/FeatureStackItem.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix install react-swipeable-views
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit shift folder into next.js instead of src/components
  apps/nextjs-website/react-components/src/components/Accordion/Accordion.tsx
  apps/nextjs-website/react-components/src/components/Accordion/AccordionItem.tsx
  apps/nextjs-website/react-components/src/components/EContainer.tsx
  apps/nextjs-website/react-components/src/components/EIcon.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/src/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/src/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/src/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/src/index-props.ts
  apps/nextjs-website/react-components/src/index.ts
  apps/nextjs-website/react-components/src/types/components.ts
  apps/nextjs-website/react-components/src/types/index.d.ts
  apps/nextjs-website/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/react-components/src/utils/Components.types.ts
  apps/nextjs-website/react-components/src/utils/index.ts
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
