Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

modified editorial switch
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified page switch
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.tsx
  apps/nextjs-website/react-components/types/Page-Switch/Page-Switch.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Page-Switch/pageSwitchCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add tertiary link to Hero section in Strapi
  .changeset/gorgeous-news-move.md
  .changeset/short-baboons-notice.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/strapi-cms/src/components/sections/hero.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add tertiary link to Hero section in Strapi (#405)
  .changeset/gorgeous-news-move.md
  .changeset/short-baboons-notice.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/strapi-cms/src/components/sections/hero.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

...
  apps/nextjs-website/src/components/PageSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/twelve-trees-own.md
Owners: none

commit changeset
  .changeset/clean-buttons-hammer.md
Owners: none

commit changeset
  .changeset/late-ladybugs-move.md
  apps/nextjs-website/src/components/EditorialSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code change
  apps/nextjs-website/src/components/PageSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code change
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/large-ladybugs-admire.md
Owners: none

Remove slug's 'unique'ness to allow cloning pages
  .changeset/ten-chairs-suffer.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Convert EditorialSwitch subtitle to Rich Text
  .changeset/ninety-days-walk.md
  .changeset/thick-bulldogs-hammer.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/components/sections/editorial-switch.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Substitute MUI Icons in Feature, HowTo, Cards and StripeLink sections with a simple image upload
  .changeset/warm-mirrors-invite.md
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
  apps/strapi-cms/src/components/components/cards-item.json
  apps/strapi-cms/src/components/components/feature-item.json
  apps/strapi-cms/src/components/components/step.json
  apps/strapi-cms/src/components/components/themed-icon.json
  apps/strapi-cms/src/components/sections/stripe-link.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated Strapi view configuration
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-893] Remove slug's "unique"ness to allow cloning pages (#410)
  .changeset/ten-chairs-suffer.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

First Implementation of i18n
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/src/app/[locale]/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/[locale]/layout.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Footer/light.stories.tsx
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/components/shared/locales.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Convert EditorialSwitch subtitle to Rich Text
  .changeset/ninety-days-walk.md
  .changeset/thick-bulldogs-hammer.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/components/sections/editorial-switch.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea
