Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit changeset
  .changeset/little-geese-grow.md
  .changeset/shiny-months-reply.md
Owners: none

commit implementing BannerLink inside storybook
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/lemon-toes-rescue.md
  .changeset/little-geese-grow.md
Owners: none

commit remove unusued file
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit Cards to Storybook
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/lemon-toes-rescue.md
  .changeset/warm-guests-lick.md
Owners: none

commit Editorial to Storybook
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/tame-shoes-sip.md
  .changeset/warm-guests-lick.md
Owners: none

remove wrong files
  .changeset/selfish-papayas-clap.md
  .changeset/tame-shoes-sip.md
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit Feature to Storybook
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/strong-shirts-invite.md
  .changeset/tame-shoes-sip.md
Owners: none

commit HowTo to Storybook
  apps/nextjs-website/stories/HowTo/dark.stories.tsx
  apps/nextjs-website/stories/HowTo/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/late-cheetahs-allow.md
  .changeset/strong-shirts-invite.md
Owners: none

commit HowTo to StripeLink
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/late-cheetahs-allow.md
  .changeset/real-pigs-lay.md
Owners: none

remove files
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/heavy-socks-cough.md
  .changeset/real-pigs-lay.md
Owners: none

create-workflow-storybook
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

Create Workflow GitHub Storybook
  .changeset/quiet-camels-laugh.md
Owners: none

add-cdn-for-storybook
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

Add CDN for Storybook
  .changeset/hot-cheetahs-kiss.md
Owners: none

update-path
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

commit PreHeader to Storybook
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/stories/PreHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/nervous-ligers-swim.md
  .changeset/real-pigs-lay.md
Owners: none

update-iam-policy
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-606] - Add CDN for Storybook (#284)
  .changeset/hot-cheetahs-kiss.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

commit button stories changes
  apps/nextjs-website/stories/Buttons/dark.stories.ts
  apps/nextjs-website/stories/Buttons/light.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

review-and-update-sha-version
  .changeset/quiet-camels-laugh.md
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

commit review changes
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/stories/Buttons/buttonsCommons.tsx
  apps/nextjs-website/stories/Buttons/dark.stories.ts
  apps/nextjs-website/stories/Buttons/light.stories.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Verified ability to launch Draft Mode
  apps/nextjs-website/.env.example
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/app/api/draft/route.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Added comment
  apps/nextjs-website/src/app/api/draft/route.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update .changeset/shiny-months-reply.md
  .changeset/shiny-months-reply.md
Owners: none

commit review changes
  apps/nextjs-website/stories/Buttons/buttonsCommons.tsx
  apps/nextjs-website/stories/Buttons/dark.stories.ts
  apps/nextjs-website/stories/Buttons/light.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/stories/Buttons/dark.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove dependencies
  apps/nextjs-website/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

use-setupnode-action
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
