Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-841] - VideoImage "stop" feature (#382)
  .changeset/fresh-cars-type.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/components/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.MobileDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit mobile version 100vh
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/selfish-toys-laugh.md
Owners: none

modified editorial
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix mobile VideoImage responsive
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/sour-birds-begin.md
Owners: none

commit changeset
  .changeset/rich-cooks-act.md
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/fifty-readers-provide.md
Owners: none

modified header
  apps/nextjs-website/react-components/components/Header/components/Header.MenuDropdown.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review change
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-840] - VideoImage component responsive fix (#389)
  .changeset/selfish-toys-laugh.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-840] - Editorial image layout fix (#390)
  .changeset/rich-cooks-act.md
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix menuItem color
  apps/nextjs-website/react-components/components/Header/components/Header.MenuDropdown.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review update
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/lib/fetch/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review update
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Helpers/Header.Navigation.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change folder name
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helper/Header.Navigation.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review update
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Navigation.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review update
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review update
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit file test fix
  apps/nextjs-website/src/lib/__tests__/header.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-738] - Header new structure (#386)
  .changeset/fresh-worms-flow.md
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Navigation.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/icons/HeaderIcon.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Refactor Header structure
  .changeset/quiet-lemons-confess.md
  .changeset/rotten-foxes-care.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/headers/header-drawer-cta-card.json
  apps/strapi-cms/src/components/headers/header-drawer-link-card.json
  apps/strapi-cms/src/components/headers/header-drawer.json
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/src/components/headers/standard-header.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Replace double quotes with single quotes. Delete comments. Fix styling issue with MegaHeader
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/src/lib/__tests__/header.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-761] Update Strapi Header structure (#393)
  .changeset/quiet-lemons-confess.md
  .changeset/rotten-foxes-care.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/headers/header-drawer-cta-card.json
  apps/strapi-cms/src/components/headers/header-drawer-link-card.json
  apps/strapi-cms/src/components/headers/header-drawer.json
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/src/components/headers/standard-header.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi view configuration for new Header
  .changeset/nine-elephants-flow.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi view configuration for new Header (#394)
  .changeset/nine-elephants-flow.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add VideoImage to Strapi
  .changeset/breezy-flies-impress.md
  .changeset/purple-knives-smoke.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/video-image-video-data.json
  apps/strapi-cms/src/components/sections/video-image.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add VideoImage to PageSection. Update population parameters and respective tests.
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-801] Add VideoImage to Strapi (#395)
  .changeset/breezy-flies-impress.md
  .changeset/purple-knives-smoke.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/video-image-video-data.json
  apps/strapi-cms/src/components/sections/video-image.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit ui fix
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

feat: created SNS topic for alarms notifications
  apps/infrastructure/src/sns.tf
Owners: @pagopa/b2bportals-maintain

feat: cloudwatch alarms now send notifications to SNS topic
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Owners: @pagopa/b2bportals-maintain

commit megaHeader fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

fix: sns topic name typo
  apps/infrastructure/src/sns.tf
Owners: @pagopa/b2bportals-maintain

commit megaHeader href fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
