Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit lint changes
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/fresh-emus-explain.md
Owners: none

Updated Header Menu Implementation (#351)
  .changeset/brown-bugs-suffer.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/menu/mega-menu-link.json
  apps/strapi-cms/src/components/menu/mega-menu.json
  apps/strapi-cms/src/components/menu/menu-link.json
  apps/strapi-cms/src/components/menu/menu-sub-link-group.json
  apps/strapi-cms/src/components/menu/menu-sub-link.json
  apps/strapi-cms/src/components/menu/menu.json
  apps/strapi-cms/viewconfig.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit code review
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/breezy-shrimps-collect.md
Owners: none

[B2BP-756] Update NextJS logic for determining a site's structure based on new Strapi's implementation of menus (#352)
  .changeset/pink-ghosts-double.md
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/src/lib/pages.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

New header implementation
  .changeset/seven-coins-burn.md
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/strapi-cms/src/api/header/content-types/header/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/honest-carrots-retire.md
Owners: none

Update NextJS logic for fetching and determining the website's structure based on new Strapi implementation of menus
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

New header implementation
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/header.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-756] New NextJS Header implementation including Menu and MegaMenu (#353)
  .changeset/seven-coins-burn.md
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/strapi-cms/src/api/header/content-types/header/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add storeButtons to Strapi Hero section
  .changeset/slow-bats-sing.md
  apps/strapi-cms/src/components/sections/hero.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add storeButtons to Strapi Hero section (#357)
  .changeset/slow-bats-sing.md
  apps/strapi-cms/src/components/sections/hero.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/src/components/EditorialSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-765] - Update Editorial-Switch Component (#354)
  .changeset/fresh-emus-explain.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit merge fix
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit bannerlink code fix
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit video variation
  apps/nextjs-website/react-components/components/Video/Video.tsx
  apps/nextjs-website/react-components/types/Video/Video.types.ts
  apps/nextjs-website/stories/Video/dark.stories.tsx
  apps/nextjs-website/stories/Video/videoCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-firma-tenant
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Add Firma Tenant on AWS
  .changeset/fluffy-parrots-allow.md
Owners: none

commit review changes
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-firma-tenant
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Commit review changes
  apps/nextjs-website/src/components/Video.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-745] - Update Bannerlink Component (#355)
  .changeset/breezy-shrimps-collect.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-772] - Add Firma Tenant on AWS (#358)
  .changeset/fluffy-parrots-allow.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

fix: removing s3:ListBucket permission in bucket policies
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

fix: fix indentation
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

chore: added changeset
  .changeset/quick-singers-draw.md
Owners: none

add-tenant-firma
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

[B2BP-780] - Avoid showing medialibrary objects list (#360)
  .changeset/quick-singers-draw.md
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

commit review changes
  apps/nextjs-website/react-components/components/Video/Video.tsx
  apps/nextjs-website/react-components/types/Video/Video.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Video.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Video/dark.stories.tsx
  apps/nextjs-website/stories/Video/videoCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update smooth-balloons-compare.md
  .changeset/smooth-balloons-compare.md
Owners: none

add-tenant-firma (#361)
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

add-firma-tenant (#359)
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit use client fix
  apps/nextjs-website/src/components/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/slow-waves-compete.md
Owners: none

[B2BP-745] - Fix UseClient error on BannerLink (#362)
  .changeset/slow-waves-compete.md
  apps/nextjs-website/src/components/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-pnd-tenant
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
