Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-602] - Storybook (#274)
  .changeset/shiny-months-reply.md
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/.gitignore
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/stories/Buttons/buttonsCommons.tsx
  apps/nextjs-website/stories/Buttons/dark.stories.ts
  apps/nextjs-website/stories/Buttons/light.stories.ts
  apps/nextjs-website/stories/Colors.mdx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/Typography.stories.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-605] - Workflow GitHub Storybook (#283)
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

commit commons file
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove old files
  apps/nextjs-website/stories/Button.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update .changeset/little-geese-grow.md
  .changeset/little-geese-grow.md
Owners: none

[B2BP-591] - Storybook Accordion (#276)
  .changeset/little-geese-grow.md
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommonts.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Button.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update lemon-toes-rescue.md
  .changeset/lemon-toes-rescue.md
Owners: none

commit fix color name
  apps/nextjs-website/stories/Colors.mdx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit filename change
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-592] - Storybook BannerLink (#277)
  .changeset/lemon-toes-rescue.md
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Colors.mdx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove old files
  apps/nextjs-website/stories/Button.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update selfish-papayas-clap.md
  .changeset/selfish-papayas-clap.md
Owners: none

[B2BP-593] - Storybook Cards (#278)
  .changeset/selfish-papayas-clap.md
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update tame-shoes-sip.md
  .changeset/tame-shoes-sip.md
Owners: none

[B2BP-594] - Storybook Editorial (#279)
  .changeset/tame-shoes-sip.md
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update strong-shirts-invite.md
  .changeset/strong-shirts-invite.md
Owners: none

commit try fix build
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Revert "commit try fix build"
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit test fix build
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit color schema change
  apps/nextjs-website/stories/Colors.mdx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove XL container file, merged into ContainerRC
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
  apps/nextjs-website/react-components/components/common/ContainerRCXL.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Added explicit types to Storybook components
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/Typography.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Added explicit types to Storybook components (#287)
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
  apps/nextjs-website/stories/Editorial/dark.stories.tsx
  apps/nextjs-website/stories/Editorial/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/Typography.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-596] - Storybook Feature (#280)
  .changeset/strong-shirts-invite.md
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/stories/HowTo/dark.stories.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/HowTo/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update heavy-socks-cough.md
  .changeset/heavy-socks-cough.md
Owners: none

commit fix colour schema
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commire remove old files
  apps/nextjs-website/stories/Button.stories.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-599] - Storybook HowTo (#281)
  .changeset/heavy-socks-cough.md
  apps/nextjs-website/stories/HowTo/dark.stories.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/HowTo/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update real-pigs-lay.md
  .changeset/real-pigs-lay.md
Owners: none

commit update branch
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-601] - Storybook StripeLink (#282)
  .changeset/real-pigs-lay.md
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update branch
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/stories/Button.stories.ts
  apps/nextjs-website/stories/PreHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update nervous-ligers-swim.md
  .changeset/nervous-ligers-swim.md
Owners: none

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
