Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-589] Implement iframe-resizer/react into iFrame (#321)
  .changeset/swift-elephants-kneel.md
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-627] - Fix style StripeLink (#318)
  .changeset/popular-tomatoes-draw.md
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-s3-bucket-medialibrary-multitenant
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

Add S3 and CDN Medialibrary multitenant
  .changeset/tall-jeans-yell.md
Owners: none

fmt
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

add-cdn-medialibrary-multitenant
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

fix-error-plan
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/s3_bucket.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

Update apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

fmt
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

add-cms-iam-policy
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

add-ecs-and-target-group
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

add ECS and TargetGroup for Strapi Multitenant
  .changeset/chilled-berries-divide.md
Owners: none

[B2BP-669] - Add S3 and CDN Medialibrary multitenant (#322)
  .changeset/tall-jeans-yell.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

update-name-ecs
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

insert-for-each
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

add-ACM
  apps/infrastructure/src/acm.tf
Owners: @pagopa/b2bportals-maintain

duplicate-api-token-salt
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ssm_parameter.tf
Owners: @pagopa/b2bportals-maintain

add-route53
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

add-alb-listener
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

modified editorial switch style
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch style
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-670] - ECS and TargetGroup for Strapi Multitenant (#323)
  .changeset/chilled-berries-divide.md
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ssm_parameter.tf
Owners: @pagopa/b2bportals-maintain

remove-priority-rule
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

update
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-671] - Add AWS ACM ALB Route53 Multitenant (#324)
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

add-workflow-deploy-cms-multitenant
  .github/workflows/deploy_cms_multitenant.yaml
Owners: @pagopa/b2bportals-maintain

update
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_cms_multitenant.yaml
Owners: @pagopa/b2bportals-maintain

update-tag
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

update-tag
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

add-policy-parameter-store
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

add policy iam parameter store and workflow deploy cms
  .changeset/unlucky-fans-laugh.md
Owners: none

fmt
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

commit fix button colours
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/khaki-pants-carry.md
Owners: none

remove-trigger-on-merge-PR
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
