Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update Strapi view configuration for new BannerLink component
  .changeset/slimy-trees-look.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit QA fix req
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/ten-jobs-collect.md
Owners: none

commit fix letterSpacing
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review QA fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/spicy-balloons-sneeze.md
Owners: none

[B2BP-696] Fix Hero Counter style (#379)
  .changeset/ten-jobs-collect.md
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit file fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi view configuration for new BannerLink component (#378)
  .changeset/slimy-trees-look.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add mobileImage field to Strapi's Editorial section component
  .changeset/clean-garlics-happen.md
  .changeset/real-shoes-float.md
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/strapi-cms/src/components/sections/editorial.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-692] - MegaMenu Ui Fix (#380)
  .changeset/spicy-balloons-sneeze.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-730] Add mobileImage to Editorial and Editorial-Switch component (#374)
  .changeset/giant-drinks-breathe.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-829] Add mobileImage field to Strapi's Editorial section component (#381)
  .changeset/clean-garlics-happen.md
  .changeset/real-shoes-float.md
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/strapi-cms/src/components/sections/editorial.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Start refactoring work
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

implement "stop" function
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/fresh-cars-type.md
Owners: none

Refactor Form component and add it to Strapi
  .changeset/chilly-hotels-pull.md
  .changeset/tricky-weeks-destroy.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/form-category.json
  apps/strapi-cms/src/components/sections/form.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-715] Refactor Form component and add it to Strapi (#383)
  .changeset/chilly-hotels-pull.md
  .changeset/tricky-weeks-destroy.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/form-category.json
  apps/strapi-cms/src/components/sections/form.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit update code
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.Navigation.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove unique constraint from Form Category fields
  .changeset/modern-starfishes-retire.md
  apps/strapi-cms/src/components/components/form-category.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove unique constraint from Form Category fields (#384)
  .changeset/modern-starfishes-retire.md
  apps/strapi-cms/src/components/components/form-category.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add defaultCategoryID field to Form
  .changeset/seven-cars-build.md
  .changeset/stale-onions-bow.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add defaultCategoryID field to Form (#385)
  .changeset/seven-cars-build.md
  .changeset/stale-onions-bow.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit card implementation
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update right drawer
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/icons/HeaderIcon.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit shift types
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/fresh-worms-flow.md
Owners: none

Add EditorialSwitch to Strapi
  .changeset/blue-bags-reflect.md
  .changeset/plenty-rabbits-stare.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/editorial-switch-section.json
  apps/strapi-cms/src/components/sections/editorial-switch.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Use ButtonSwitchRowBlockProps type for SplitButton
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove double quotes in helpers file
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.DesktopDrawer.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-743] Add EditorialSwitch to Strapi (#387)
  .changeset/blue-bags-reflect.md
  .changeset/plenty-rabbits-stare.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/editorial-switch-section.json
  apps/strapi-cms/src/components/sections/editorial-switch.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi view configuration for Editorial Switch
  .changeset/modern-peas-arrive.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update Strapi view configuration for Editorial Switch (#388)
  .changeset/modern-peas-arrive.md
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change names
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified hero
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified accordion
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
