Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-667] - Fix Editorial-Switch Storybook error (#327)
  .changeset/khaki-pants-carry.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-672] - Workflow-deploy-cms-multitenant (#326)
  .changeset/unlucky-fans-laugh.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

remove-trigger-on-merge-PR (#328)
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

commit fix storybook hero light
  apps/nextjs-website/stories/Hero/heroCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/dry-crews-eat.md
Owners: none

[B2BP-690] - Fix Hero Storybook Light Version (#329)
  .changeset/dry-crews-eat.md
  apps/nextjs-website/stories/Hero/heroCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update form component
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-609] - Form new component (#320)
  .changeset/new-penguins-notice.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/dark.stories.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/nextjs-website/stories/Form/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Added mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/megaheaderCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/megaheaderCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Moved @types/pg from devDependencies to dependencies
  apps/strapi-cms/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Handle DB exception inside Strapi register function
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove tenant-dependent parts of Strapi's API endpoint
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/tenants.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove unused ENVIRONMENT env var from NextJS
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add changeset
  .changeset/flat-mayflies-bathe.md
Owners: none

Updated NextJS to allow for Preview Mode following RFC SV-029
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated tests
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-environment-var-to-ecs-strapi
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

Add environment var to ecs strapi
  .changeset/proud-eagles-hope.md
Owners: none

[B2BP-701] - Add environment var to ecs strapi (#332)
  .changeset/proud-eagles-hope.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

set-db-schema-ecs-strapi
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

Replaced tenantStrapiApiData arrays with extractTenantStrapiApiData function
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Set DB schema ECS Strapi with Tenant name
  .changeset/lovely-beds-attack.md
Owners: none

[B2BP-703] - Set DB schema ECS Strapi with Tenant (#333)
  .changeset/lovely-beds-attack.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated .env.example
  apps/nextjs-website/.env.example
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Remove useless comment from api.ts
  apps/nextjs-website/src/lib/api.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

lint fix
  apps/nextjs-website/src/lib/fetch/preview.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-699] Adapt NextJS to new separated-tenants architecture (#331)
  .changeset/flat-mayflies-bathe.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
  apps/nextjs-website/src/lib/tenants.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit new component
  .changeset/smart-clouds-decide.md
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/Content.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/react-components/components/Form/Form.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-env-var
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

add-env-var-deploy-nextjs
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/react-components/components/PreFooter/Content.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified form
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified buttons
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeBase64.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified prefooter style
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix form colours
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
