Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

added iframe-resizer
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/components/IFrame/iframe-resizer.d.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

modify-working-directory-position
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

modify-working-directory-position (#288)
  .github/workflows/deploy_storybook.yaml
Owners: @pagopa/b2bportals-maintain

[B2BP-600] - Storybook PreHeader (#285)
  .changeset/nervous-ligers-swim.md
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/stories/Colors.mdx
  apps/nextjs-website/stories/PreHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit howto fix
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit format files
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove changes to howtoCommons
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add Matomo Analytics
  .changeset/nasty-emus-argue.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/api/appio-general/content-types/appio-general/schema.json
  apps/strapi-cms/src/api/send-general/content-types/send-general/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit hero fix
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.ts
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add Matomo Analytics (#289)
  .changeset/nasty-emus-argue.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/api/appio-general/content-types/appio-general/schema.json
  apps/strapi-cms/src/api/send-general/content-types/send-general/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Substituted deprecated iframe-resizer with @iframe-resizer/react
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/components/IFrame/iframe-resizer.d.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/IFrame.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit review changes
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-553] - Fix style for implemented EC components (#248)
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.ts
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit style fix
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-certificate-and-domain
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

commit header to storybook
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Storybook add certificate and domain
  .changeset/selfish-sheep-leave.md
Owners: none

commit changeset
  .changeset/odd-waves-study.md
Owners: none

update-provider
  apps/infrastructure/src/acm.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-624] - Fix Buttons style (#290)
  .changeset/odd-waves-study.md
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit header fix
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/red-jeans-change.md
Owners: none

commit Footer to storybook
  .changeset/strong-cheetahs-destroy.md
  apps/nextjs-website/stories/Footer/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-598] - Storybook Header (#292)
  .changeset/red-jeans-change.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-597] - Storybook Footer (#293)
  .changeset/strong-cheetahs-destroy.md
  apps/nextjs-website/stories/Footer/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Make Page's slug not unique (#271)
  .changeset/empty-lies-cheat.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit editorial-switch to storybook
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit light version
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/olive-ears-rescue.md
Owners: none

insert-dns-record
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

rename-module
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

update
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

commit ES changes
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-614] - Storybook add certificate and domain (#291)
  .changeset/selfish-sheep-leave.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/route_53.tf
Owners: @pagopa/b2bportals-maintain

add-cname-cdn
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

Add cname CDN Storybook
  .changeset/light-llamas-tap.md
Owners: none

update-alias
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

fix
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
