Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-614] - Add cname CDN Storybook (#295)
  .changeset/light-llamas-tap.md
  apps/infrastructure/src/cloudfront.tf
Owners: @pagopa/b2bportals-maintain

remove-resource-old-send
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

modify-dashboard-cloudwatch
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Owners: @pagopa/b2bportals-maintain

Terraform delete resource send test monotenant
  .changeset/good-emus-rhyme.md
Owners: none

commit header style fix + update storybook version
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/src/components/Header.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit header style fix
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove local url test
  apps/nextjs-website/src/components/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/stale-swans-enjoy.md
Owners: none

Added Demo Tenant
  .changeset/silent-cows-press.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/tenants.ts
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-tenant-demo
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Add Tenant demo on AWS
  .changeset/angry-moose-act.md
Owners: none

[B2BP-631] - Terraform Add Tenant demo (#299)
  .changeset/angry-moose-act.md
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

add-tenant-demo-workflow
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

Configured view
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-613] Add Demo Tenant (#298)
  .changeset/silent-cows-press.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/tenants.ts
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/viewconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit header logo style fix
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-tenant-demo-workflow (#300)
  .github/workflows/deploy_website.yaml
Owners: @pagopa/b2bportals-maintain

commit header style fix desktop version
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
Owners: @pagopa/b2bportals-maintain

terraform-fmt
  apps/infrastructure/src/cloudwatch_dashboard.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-629] - Terraform delete resource send test monotenant (#296)
  .changeset/good-emus-rhyme.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

commit header style fix
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit nav colour fix
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Modified Preheader style
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Modified Footer style
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit color and font fix
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit shadow fix
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove unusued parts from theme.ts file
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

change from 'style' to 'sx'
  apps/nextjs-website/react-components/components/Header/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove theme dependencies
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-for-preview-strapi
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecr_repository.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/route_53.tf
  apps/infrastructure/src/security_group.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
  apps/infrastructure/src/variables.tf
Owners: @pagopa/b2bportals-maintain

Added form component
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add resource aws for strapi preview
  .changeset/pink-olives-swim.md
Owners: none

update-fix
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

fix-error-acm-arn
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

add-ssm-policy
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-639] - Fix style Header (#297)
  .changeset/stale-swans-enjoy.md
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit changeset
  .changeset/fifty-cobras-boil.md
Owners: none

add-workflow-docker
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/.dockerignore
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-653] - Fix style Footer (#302)
  .changeset/fifty-cobras-boil.md
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
