Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

add env var ecs strapi preview
  .changeset/lucky-chefs-wash.md
Owners: none

[B2BP-644] Add Preview button to Strapi CMS (#313)
  .changeset/fast-meals-chew.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

Update .changeset/lucky-chefs-wash.md
  .changeset/lucky-chefs-wash.md
Owners: none

[B2BP-659] - add env var ecs strapi preview (#314)
  .changeset/lucky-chefs-wash.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Owners: @pagopa/b2bportals-maintain

added storybook section
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/dark.stories.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/nextjs-website/stories/Form/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

add-env
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Switch NextJS to standalone build mode
  .changeset/smooth-guests-rhyme.md
  apps/nextjs-website/next.config.js
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update-env
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

UPDATE-ENV
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

up
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified cards component
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update-path-health-check
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

modify-workflow
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

update-healthcheck
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

modified cards component
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Add NextJS Preview Mode ENV VARS
  .changeset/mighty-maps-camp.md
Owners: none

remove-preview-url
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink component
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-659] - Workflow deploy nextjs update (#315)
  .changeset/mighty-maps-camp.md
  .github/workflows/deploy_nextjs.yaml
  apps/infrastructure/src/alb.tf
  apps/nextjs-website/Dockerfile
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified stripelink component
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/happy-geckos-clap.md
Owners: none

commit fix justify stripelink
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified stories
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified stories
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit feature fix
  .changeset/khaki-geese-talk.md
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit feature fix (#319)
  .changeset/khaki-geese-talk.md
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-662] - Fix style BannerLink (#317)
  .changeset/happy-geckos-clap.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit colour pattern fix
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix cta buttons
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix commons usage on Form
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/new-penguins-notice.md
Owners: none

commit changeset
  .changeset/tame-windows-travel.md
Owners: none

[B2BP-597] - Storybook Editorial-Switch (#294)
  .changeset/olive-ears-rescue.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-661] - Fix style Cards (#316)
  .changeset/tame-windows-travel.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit form button fix
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Implement iframe-resizer/react into iFrame
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/popular-tomatoes-draw.md
Owners: none

Add changeset
  .changeset/swift-elephants-kneel.md
Owners: none
