Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

[B2BP-691] - Update Form Component (#336)
  .changeset/little-bobcats-invent.md
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit heroCounter codec change
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/warm-deers-tickle.md
Owners: none

...
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/megaheaderCommon.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix align
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.helpers.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-696] - HeroCounter new component (#341)
  .changeset/nasty-pets-occur.md
  .changeset/warm-deers-tickle.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit menu column fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified mega header
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code review
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code review
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/megaheaderCommon.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit code fix
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-692] - MegaMenu new component (#339)
  .changeset/fair-cooks-smell.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update form
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/gentle-rice-thank.md
Owners: none

[B2BP-715] - Update Form Storybook (#342)
  .changeset/gentle-rice-thank.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit ui fix
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove-jos-for-cms-mono-tenant-old-strapi
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

commit changeset
  .changeset/smart-elephants-rush.md
Owners: none

modify-for-remove-old-strapi
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Owners: @pagopa/b2bportals-maintain

Modify CloudWatch from old to new Strapi
  .changeset/fluffy-geckos-hang.md
Owners: none

remove-old-strapi-targetgroup
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

Modify ALB for remove old Strapi target group
  .changeset/silly-ghosts-appear.md
Owners: none

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

remove-ecs-old-strapi
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

remove-s3-cdn-and-iam-policy-for-old-strapi
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

Remove S3 CDN and IAM policy for old Strapi
  .changeset/shiny-kangaroos-obey.md
Owners: none

remove-ecs-old-strapi
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

Revert "remove-ecs-old-strapi"
  apps/infrastructure/src/ecs.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-747] - Modify CloudWatch from old to new Strapi (#345)
  .changeset/fluffy-geckos-hang.md
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Owners: @pagopa/b2bportals-maintain

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
