Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

remove-concat
  apps/infrastructure/src/iam_policy.tf
Owners: @pagopa/b2bportals-maintain

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-748] - Remove S3 CDN ECS and IAM policy for old Strapi (#347)
  .changeset/shiny-kangaroos-obey.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Owners: @pagopa/b2bportals-maintain

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-735] - Terraform Modify ALB for remove old Strapi (#346)
  .changeset/silly-ghosts-appear.md
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit add storeButtons to Hero
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StoreButtons.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/grumpy-cheetahs-decide.md
Owners: none

re-add-target-group-old-cms
  apps/infrastructure/src/alb.tf
Owners: @pagopa/b2bportals-maintain

[B2BP-723] - Update MegaHeader UI (#344)
  .changeset/smart-elephants-rush.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit review changes
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit package-lock
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit file test fix
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-725] - Implement Hero storeButtons (#348)
  .changeset/grumpy-cheetahs-decide.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StoreButtons.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

remove-jos-for-cms-mono-tenant-old-strapi (#343)
  .github/workflows/deploy_cms.yaml
Owners: @pagopa/b2bportals-maintain

commit video component
  apps/nextjs-website/react-components/components/Video/Video.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Video/Video.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Video.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Video/dark.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/smooth-balloons-compare.md
Owners: none

commit video example
  apps/nextjs-website/stories/Video/dark.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit color fix
  apps/nextjs-website/react-components/components/Video/Video.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Updated Header Menu Implementation
  .changeset/brown-bugs-suffer.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/menu/mega-menu-link.json
  apps/strapi-cms/src/components/menu/mega-menu.json
  apps/strapi-cms/src/components/menu/menu-link.json
  apps/strapi-cms/src/components/menu/menu-sub-link-group.json
  apps/strapi-cms/src/components/menu/menu-sub-link.json
  apps/strapi-cms/src/components/menu/menu.json
  apps/strapi-cms/viewconfig.json
  package-lock.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

modified cards
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

Update NextJS logic for fetching and determining the website's structure based on new Strapi implementation of menus
  .changeset/pink-ghosts-double.md
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/src/lib/pages.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

...
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/stories/Header/light.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update video component
  apps/nextjs-website/react-components/components/Video/Video.tsx
  apps/nextjs-website/stories/Video/dark.stories.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified bannerlink
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified cards
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified editorial switch
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

modified header
  apps/nextjs-website/react-components/components/Header/Header.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
