Repository pagopa/b2b-portals, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

.github/CODEOWNERS:

* @pagopa/b2bportals-maintain

# Website
apps/nextjs-website/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# CMS
apps/strapi-cms/ @pagopa/b2bportals-maintain @simosalsi @Meolocious

# Lint rules
**/.eslintrc.json @pagopa/b2bportals-maintain

.changeset/README.md @pagopa/b2bportals-maintain
.changeset/config.json @pagopa/b2bportals-maintain

# No owner is required for changeset files
.changeset/*

# Required to merge Push next releases PR
package-lock.json @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea
**/CHANGELOG.md @pagopa/b2bportals-maintain @simosalsi @Meolocious @maurodandrea

commit integrating Hero from EC into Next.JS
  .prettierrc
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/types/components.ts
  apps/nextjs-website/src/components/react-components/src/types/index.d.ts
  apps/nextjs-website/src/components/react-components/src/utils/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit localhost for testing img in local
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix on Hero component
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit prettier config update
  .prettierrc
Owners: @pagopa/b2bportals-maintain

commit changeset
  .changeset/witty-icons-know.md
Owners: none

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit add comment to file
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit colour fix
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove localhost for testing image
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit editorial inside B2BP
  apps/nextjs-website/public/editorial-images/app-store-badge.png
  apps/nextjs-website/public/editorial-images/google-play-badge.png
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring editorial code
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit implementing HowTo inside B2BP
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/components/react-components/src/components/EIcon.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/src/components/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring other editorial component files
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update refactored files
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit shift folder into next.js instead of src/components
  apps/nextjs-website/react-components/src/components/EContainer.tsx
  apps/nextjs-website/react-components/src/components/EIcon.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/src/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/src/index-props.ts
  apps/nextjs-website/react-components/src/index.ts
  apps/nextjs-website/react-components/src/types/components.ts
  apps/nextjs-website/react-components/src/types/index.d.ts
  apps/nextjs-website/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/react-components/src/utils/Components.types.ts
  apps/nextjs-website/react-components/src/utils/index.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit image paths
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix HowTo title colour
  apps/nextjs-website/react-components/src/components/HowTo/HowTo.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring PR
  .prettierrc
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/EIcon.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/src/components/EContainer.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/src/index-props.ts
  apps/nextjs-website/react-components/src/index.ts
  apps/nextjs-website/react-components/src/types/components.ts
  apps/nextjs-website/react-components/src/types/index.d.ts
  apps/nextjs-website/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/react-components/src/utils/Components.types.ts
  apps/nextjs-website/react-components/src/utils/index.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/HowTo.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove old images
  apps/nextjs-website/public/editorial-images/app-store-badge.png
  apps/nextjs-website/public/editorial-images/google-play-badge.png
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit change theme file
  apps/nextjs-website/src/app/theme.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-517] Make Update Static Content Plugin Multi-Tenant (#238)
  .changeset/shaggy-dolls-itch.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/index.ts
  package-lock.json
  packages/eslint-config/eslint-functional.js
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious, @maurodandrea

commit changeset
  .changeset/strange-trees-bake.md
Owners: none

commit remove old changeset
  .changeset/witty-icons-know.md
Owners: none

commit remove changes on config (a space)
  apps/nextjs-website/tsconfig.json
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

[B2BP-537] - Implementing 'HowTo' EC inside B2BP (#236)
  .changeset/strange-trees-bake.md
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/EIcon.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/HowTo.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit integrating Hero from EC into Next.JS
  .prettierrc
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
  apps/nextjs-website/src/components/react-components/src/types/components.ts
  apps/nextjs-website/src/components/react-components/src/types/index.d.ts
  apps/nextjs-website/src/components/react-components/src/utils/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit prettier config update
  .prettierrc
Owners: @pagopa/b2bportals-maintain

commit localhost for testing img in local
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit fix on Hero component
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit changeset
  .changeset/witty-icons-know.md
Owners: none

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

B2BP-427 modified hero layout
  apps/nextjs-website/src/components/react-components/src/components/EContainer.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit add comment to file
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit colour fix
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit remove localhost for testing image
  apps/nextjs-website/src/components/Hero.tsx
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit editorial inside B2BP
  apps/nextjs-website/public/editorial-images/app-store-badge.png
  apps/nextjs-website/public/editorial-images/google-play-badge.png
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/index.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring other editorial component files
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit refactoring editorial code
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Editorial.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Image.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.types.ts
  apps/nextjs-website/src/components/react-components/src/index-props.ts
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious

commit update refactored files
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Content.tsx
  apps/nextjs-website/src/components/react-components/src/components/Editorial/Ctas.tsx
  apps/nextjs-website/src/components/react-components/src/components/Hero/Hero.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.helpers.tsx
  apps/nextjs-website/src/components/react-components/src/utils/Components.types.ts
Owners: @pagopa/b2bportals-maintain, @simosalsi, @Meolocious
