Repository pagopa/b2b-portals, pull requests merged in 2023-10, with the labels that each got.

#20 [B2BP-141] Add -recursive option
  .github/actions/setup-terraform/action.yaml
  .github/labels.yaml
  .infrastructure/env/prod/terraform.tfvars
  .infrastructure/identity/main.tf
Labels: size/small, infra

#22 [B2BP-142] - Add IAM Users
  .infrastructure/01_iam_user.tf
  .infrastructure/02_iam_group.tf
Labels: size/small, infra

#23 [B2BP-168] - Terraform S3 Media Library AWS
  .infrastructure/03_s3.tf
Labels: size/small, infra

#28 [B2BP-168] - Terraform S3 Rename File
  .infrastructure/50_storage.tf
Labels: size/small, infra

#25 [B2BP-177] - Use shell syntax to read environment variables
  .github/actions/branch-up-to-date/action.yaml
  .github/actions/link-pr-to-jira-activity/action.yaml
Labels: size/small

#32 Review - strapi cms init
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small

#24 [B2BP-169] - Terraform SSM AWS
  .infrastructure/04_secrets.tf
Labels: size/small, infra

#34 [B2BP-186] - Set package-lock file version
  .npmrc
  package-lock.json
Labels: size/small

#35 [B2BP-182] Install pagopa-editorial-components dependency
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/page.tsx
  package-lock.json
Labels: size/small, website

#36 Code review dynamic pages
  apps/nextjs-website/public/navigationData.json
  apps/nextjs-website/src/app/404/page.tsx
  apps/nextjs-website/src/app/[...slug]/page.tsx
  apps/nextjs-website/src/app/not-found.tsx
  apps/nextjs-website/src/app/types.ts
  apps/nextjs-website/src/lib/api.ts
Labels: website

#29 [B2BP-116] Initialized bare Strapi CMS instance
  README.md
  apps/strapi-cms/.editorconfig
  apps/strapi-cms/.env.example
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/.gitignore
  apps/strapi-cms/README.md
  apps/strapi-cms/config/admin.ts
  apps/strapi-cms/config/api.ts
  apps/strapi-cms/config/database.ts
  apps/strapi-cms/config/middlewares.ts
  apps/strapi-cms/config/server.ts
  apps/strapi-cms/database/migrations/.gitkeep
  apps/strapi-cms/favicon.png
  apps/strapi-cms/package.json
  apps/strapi-cms/public/robots.txt
  apps/strapi-cms/public/uploads/.gitkeep
  apps/strapi-cms/src/admin/tsconfig.json
  apps/strapi-cms/src/api/.gitkeep
  apps/strapi-cms/src/extensions/.gitkeep
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/tsconfig.json
  package-lock.json
Labels: size/large

#26 [B2BP-166] Dynamic page with App Routing system
  apps/nextjs-website/src/app/[...slug]/page.tsx
  apps/nextjs-website/src/app/not-found.tsx
  apps/nextjs-website/src/lib/api.ts
Labels: size/small, website

#40 [B2BP-160] Installed Navigation Plugin for Strapi
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/package.json
  apps/strapi-cms/src/admin/app.ts
  package-lock.json
Labels: size/small

#38 [B2BP-165] Strapi minimal structure
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/api/page/controllers/page.ts
  apps/strapi-cms/src/api/page/routes/page.ts
  apps/strapi-cms/src/api/page/services/page.ts
  apps/strapi-cms/types/generated/components.d.ts
  apps/strapi-cms/types/generated/contentTypes.d.ts
Labels: size/large

#45 [B2BP-174] - Terraform Network AWS
  .infrastructure/03_network.tf
  .infrastructure/98_variables.tf
Labels: size/small, infra

#46 [B2BP-171] - Terraform DB ALB ECS Cluster AWS
  .infrastructure/05_database.tf
  .infrastructure/06_alb.tf
  .infrastructure/07_ecs.tf
Labels: size/small, infra

#44 [B2BP-190] Add overrides react version
  apps/nextjs-website/package.json
  package-lock.json
  package.json
Labels: size/small, website

#48 [B2BP-175] - Terraform set port ALB
  .infrastructure/06_alb.tf
Labels: size/small, infra

#49 [B2BP-174] - Terraform modify SecurityGroup ALB
  .infrastructure/03_network.tf
Labels: size/small, infra

#51 [B2BP-174] - Terraform SPLIT SecurityGroup ALB
  .infrastructure/03_network.tf
  .infrastructure/06_alb.tf
Labels: size/small, infra

#50 [B2BP-192] Configured Strapi to accept PostgreSQL connections
  apps/strapi-cms/config/database.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small
