Repository pagopa/b2b-portals, pull requests merged in 2023-12, with the labels that each got.

#89 [B2BP-255] Reinstated social LinkTypes
  apps/nextjs-website/src/lib/fetch/types/LinkTypes.ts
  apps/nextjs-website/src/lib/footer.ts
Labels: size/small, website

#92 [B2BP-278] - Missing showFundedByNextGenerationEULogo inside the footer.ts file
  apps/nextjs-website/src/lib/footer.ts
Labels: size/small, website

#76 [B2BP-234] - Terraform Update Config for Strapi with S3 Media Library
  .infrastructure/07_ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#68 [B2BP-217] - Reduction privileges for ECS task role
  .infrastructure/09_iam_role.tf
Labels: size/small, infra

#79 [B2BP-241] -Terraform add privilege getObject cloufront on medialibrary
  .infrastructure/50_storage.tf
Labels: size/small, infra

#95 [B2BP-242] PR #82 implementation option
  apps/nextjs-website/src/app/[...slug]/page.tsx
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/page.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/pages.ts
Labels: website
