Repository pagopa/b2b-portals, pull requests merged in 2023-11, with the labels that each got.

#52 [B2BP-193] - Terraform Infra Static Site AWS
  .infrastructure/50_storage.tf
  .infrastructure/60_cdn.tf
  .infrastructure/98_variables.tf
Labels: size/small, infra

#47 [B2BP-172] - Terraform ECS Task Definition AWS
  .infrastructure/04_secrets.tf
  .infrastructure/07_ecs.tf
  .infrastructure/08_ecr.tf
  .infrastructure/09_iam_role.tf
  .infrastructure/10_iam_access_key_strapi.tf
  .infrastructure/98_variables.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#61 [B2BP-167] - Fetch pages from cms
  apps/nextjs-website/.env.example
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/package.json
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/[...slug]/page.tsx
  apps/nextjs-website/src/lib/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/extractFromResponse.ts
  apps/nextjs-website/src/lib/navigation.ts
  apps/nextjs-website/src/lib/pages.ts
  apps/nextjs-website/vite.config.ts
  package-lock.json
Labels: website

#63 [B2BP-167] Casted getAllPages value to remove readonly for generateStaticParams
  apps/nextjs-website/src/app/[...slug]/page.tsx
Labels: size/small, website

#64 [B2BP-229] Data structure adjustments
  apps/strapi-cms/src/components/components/cta-button.json
  apps/strapi-cms/src/components/sections/editorial.json
  apps/strapi-cms/src/components/sections/feature.json
  apps/strapi-cms/src/components/sections/hero.json
  apps/strapi-cms/src/components/sections/how-to.json
  apps/strapi-cms/types/generated/components.d.ts
Labels: size/small

#65 Revert "[B2BP-167] Casted getAllPages value to remove readonly for generateStaticParams"
  apps/nextjs-website/src/app/[...slug]/page.tsx
Labels: size/small, website

#66 [B2BP-184] Create CODEOWNERS
  .github/CODEOWNERS
Labels: size/small

#72 [B2BP-236] Remove generated files by strapi
  apps/strapi-cms/.gitignore
  apps/strapi-cms/package.json
  apps/strapi-cms/types/generated/components.d.ts
  apps/strapi-cms/types/generated/contentTypes.d.ts
Labels: size/large

#73 [B2BP-178] Review pre-header component
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/components/reusable/io-ts-declarations.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/api/preHeaderAPI.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/extractFromResponse.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/types/Theme.ts
  apps/nextjs-website/src/lib/pages.ts
Labels: size/large, website

#75 [B2BP-178] - Implementing preHeader as generic component
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/extractFromResponse.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/types/Theme.ts
  apps/nextjs-website/src/lib/pages.ts
Labels: website

#77 [B2BP-115] Removed extends inside Strapi's tsconfig files
  apps/strapi-cms/src/admin/tsconfig.json
  apps/strapi-cms/tsconfig.json
Labels: size/small

#74 [B2BP-202] Updated README to include DB configuration for testing
  README.md
  apps/strapi-cms/.env.example
Labels: size/small

#58 [B2BP-216] - Terraform IAM role deploy CMS and Website AWS
  .infrastructure/09_iam_role_deploy.tf
Labels: size/small, infra

#78 [B2BP-179] - Implementing Header as generic component
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
  apps/nextjs-website/src/lib/fetch/types/CTAGroup.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/header.ts
Labels: website

#85 Review to footer component
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/types/LinkTypes.ts
  apps/nextjs-website/src/lib/footer.ts
Labels: size/small, website

#80 [B2BP-180] - Implementing Footer as generic component
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/types/LinkTypes.ts
  apps/nextjs-website/src/lib/footer.ts
Labels: website

#91 PR-89 review
  apps/nextjs-website/src/lib/footer.ts
Labels: size/small, website
