Repository pagopa/b2b-portals, pull requests merged in 2024-08, with the labels that each got.

#393 [B2BP-761] Update Strapi Header structure
  .changeset/quiet-lemons-confess.md
  .changeset/rotten-foxes-care.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/headers/header-drawer-cta-card.json
  apps/strapi-cms/src/components/headers/header-drawer-link-card.json
  apps/strapi-cms/src/components/headers/header-drawer.json
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/src/components/headers/standard-header.json
Labels: size/large

#394 [B2BP-761] Update Strapi view configuration for new Header
  .changeset/nine-elephants-flow.md
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#395 [B2BP-801] Add VideoImage to Strapi
  .changeset/breezy-flies-impress.md
  .changeset/purple-knives-smoke.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/video-image-video-data.json
  apps/strapi-cms/src/components/sections/video-image.json
  apps/strapi-cms/viewconfig.json
Labels: size/large

#396 [B2BP-438] Notify emails on cloudwatch alarms
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/sns.tf
Labels: size/small, infra

#398 [B2BP-874] - Refactored datasource template_file to function templatefile
  apps/infrastructure/src/ecs.tf
Labels: size/small, infra

#397 [B2BP-692] - Header and MegaHeader Ui fix
  .changeset/slimy-garlics-eat.md
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Labels: size/small, website, changeset

#391 [B2BP-742] - HeroChips new component
  .changeset/sour-birds-begin.md
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroChips/dark.stories.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroChips/light.stories.tsx
Labels: size/small, website, changeset

#400 [B2BP-883] - VideoImage bug fix
  .changeset/twenty-plums-teach.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Labels: size/small, website, changeset

#401 [B2BP-843] Add HeroCounter to Strapi
  .changeset/gentle-rivers-jam.md
  .changeset/large-impalas-burn.md
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/counter.json
  apps/strapi-cms/src/components/sections/hero-counter.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset

#403 [B2BP-871] Bug fix: Header mobile overflow
  .changeset/short-candles-bake.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileNav.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.SideDrawer.helpers.tsx
Labels: size/small, website, changeset

#404 [B2BP-850] - Implement tertiary Link for Hero component
  .changeset/rare-eyes-allow.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Labels: size/small, website, changeset

#405 [B2BP-851] Add tertiary link to Hero section in Strapi
  .changeset/gorgeous-news-move.md
  .changeset/short-baboons-notice.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/strapi-cms/src/components/sections/hero.json
Labels: size/small, website, changeset

#410 [B2BP-893] Remove slug's "unique"ness to allow cloning pages
  .changeset/ten-chairs-suffer.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  package-lock.json
Labels: size/small, changeset
