Repository pagopa/b2b-portals, pull requests merged in 2024-09, with the labels that each got.

#415 [B2BP-896] Substitute Meolocious for salvatorediocaro in CODEOWNERS file
  .github/CODEOWNERS
Labels: size/small

#411 [B2BP-868] Convert EditorialSwitch subtitle to Rich Text
  .changeset/ninety-days-walk.md
  .changeset/thick-bulldogs-hammer.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/components/sections/editorial-switch.json
  package-lock.json
Labels: size/small, website, changeset

#417 [B2BP-695] [B2BP-845] Add ServiceCarousel Section
  .changeset/empty-spiders-exist.md
  apps/nextjs-website/react-components/components/ServiceCarousel/ServiceCarousel.helpers.tsx
  apps/nextjs-website/react-components/components/ServiceCarousel/ServiceCarousel.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/ServiceCarousel/ServiceCarousel.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/ServiceCarousel.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/ServiceCarousel/default.stories.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/service-card.json
  apps/strapi-cms/src/components/sections/service-carousel.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset

#416 [B2BP-914] Make PreHeader optional
  .changeset/six-comics-change.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
Labels: size/small, website, changeset

#418 Fix white screen in Strapi Content Manager
  apps/strapi-cms/viewconfig.json
Labels: size/small

#419 Remove Strapi i18n configuration
  apps/strapi-cms/viewconfig.json
Labels: size/small

#413 [B2BP-859] Implement Section ID for all sections
  .changeset/gold-socks-peel.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
  apps/nextjs-website/react-components/types/Accordion/Accordion.types.ts
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/src/components/sections/stripe-link.json
Labels: size/small, website, changeset

#406 [B2BP-869] Editorial Ui Fix
  .changeset/twelve-trees-own.md
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
Labels: size/small, website, changeset

#422 [B2BP-921] Substitute Themed Icon with a simple Icon
  .changeset/serious-bottles-serve.md
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/components/feature-item.json
  apps/strapi-cms/src/components/components/step.json
Labels: size/small, website, changeset

#407 [B2BP-870] HowTo Ui Fix
  .changeset/clean-buttons-hammer.md
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
Labels: size/small, website, changeset

#425 [B2BP-931] Remove dev URL for icons
  .changeset/wet-pumpkins-exercise.md
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/HowTo.tsx
Labels: size/small, website, changeset

#426 [B2BP-901] - Hero small style fix
  .changeset/shaggy-rats-drop.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
Labels: size/small, website, changeset

#428 [B2BP-911] Add RowText Section to Strapi
  .changeset/chatty-chairs-wash.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/row-text.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#430 [B2BP-923] Increase MegaHeader sublink groups limit to 4
  .changeset/cool-queens-count.md
  apps/strapi-cms/src/components/menu/mega-menu-link.json
Labels: size/small, changeset

#429 [B2BP-941] Add SectionID to Service Carousel
  .changeset/eighty-boats-unite.md
  apps/nextjs-website/react-components/components/ServiceCarousel/ServiceCarousel.tsx
  apps/nextjs-website/react-components/types/ServiceCarousel/ServiceCarousel.types.ts
  apps/nextjs-website/src/components/ServiceCarousel.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/service-carousel.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#433 Fix static site build fail
  package-lock.json
Labels: size/small

#434 [B2BP-903] Fix styling of MegaHeader links
  .changeset/sharp-rockets-camp.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#431 [B2BP-902] - Fix font of feature and howto components
  .changeset/breezy-carrots-nail.md
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
Labels: size/small, website, changeset

#432 [B2BP-927] [B2BP-928] - Fix cards component font
  .changeset/purple-jobs-share.md
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
Labels: size/small, website, changeset

#424 [B2BP-890] - Add new Stats component
  .changeset/spicy-socks-obey.md
  apps/nextjs-website/react-components/components/Stats/Stats.helpers.tsx
  apps/nextjs-website/react-components/components/Stats/Stats.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Stats/Stats.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/Stats.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Stats/default.stories.tsx
Labels: website, changeset

#423 [B2BP-694] - Add new Highlight Box component
  .changeset/sweet-islands-cover.md
  apps/nextjs-website/react-components/components/HighlightBox/HighlightBox.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/HighlightBox/HighlightBox.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/HighlightBox.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/HighlightBox/default.stories.tsx
Labels: website, changeset

#435 [B2BP-907] - Editorial: change image text order on mobile breakpoint
  .changeset/tall-geckos-return.md
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
Labels: size/small, website, changeset

#437 [B2BP-936] [B2BP-945] Megaheader Style Fix
  .changeset/clean-snails-lick.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: website, changeset

#438 [B2BP-943] Add textPosition to Strapi Cards
  .changeset/violet-dryers-type.md
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/components/cards-item.json
  apps/strapi-cms/src/components/sections/cards.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#439 Add types to HighlightBox stories
  apps/nextjs-website/stories/HighlightBox/default.stories.tsx
Labels: size/small, website

#440 [B2BP-887] Strapi add HighlightBox Section
  .changeset/neat-frogs-run.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/highlight-box.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#441 [B2BP-844] Add Stats Section to Strapi
  .changeset/forty-trainers-report.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/stats-item.json
  apps/strapi-cms/src/components/sections/stats.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#409 [B2BP-876] - Page-Switch new component
  .changeset/large-ladybugs-admire.md
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Page-Switch/Page-Switch.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Page-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Page-Switch/light.stories.tsx
  apps/nextjs-website/stories/Page-Switch/pageSwitchCommons.tsx
Labels: size/large

#443 [B2BP-958] Bug fix: Deploy failed due to missing 'use client' in PageSwitch
  .changeset/happy-eggs-design.md
  apps/nextjs-website/src/components/PageSwitch.tsx
Labels: size/small, website, changeset

#444 [B2BP-930] - Cards: define minimum height of the items
  .changeset/kind-jokes-train.md
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
Labels: size/small, website, changeset

#447 [B2BP-916] Add TextSection to Strapi
  .changeset/slow-planes-arrive.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/text-section.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#445 [B2BP-939] Add FramedVideo Section to Strapi
  .changeset/lemon-carrots-sparkle.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/framed-video-text.json
  apps/strapi-cms/src/components/sections/framed-video.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#454 [B2BP-961] Extend og:description to 160 characters
  .changeset/slimy-berries-wonder.md
  apps/strapi-cms/src/components/shared/seo.json
Labels: size/small, changeset

#455 Bug Fix: Fix Bannerlink breaking build and preview
  .changeset/neat-parrots-wink.md
  .changeset/rare-jars-shout.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/strapi-cms/src/components/components/banner-link-section.json
Labels: size/small, website, changeset
