Repository pagopa/b2b-portals, pull requests merged in 2024-11, with the labels that each got.

#493 [B2BP-998] - Update iframe-resizer version
  .changeset/great-beds-hear.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset

#495 [B2BP-1009] Strapi: Make VideoImage text optional
  .changeset/chatty-crabs-learn.md
  apps/strapi-cms/src/components/sections/video-image.json
Labels: size/small, changeset

#497 [B2BP-1007] - VideoImage: fine-tuning
  .changeset/thirty-carrots-talk.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Labels: size/small, website, changeset

#498 [B2BP-1019] Add Strapi Plugin Copy Locales
  .changeset/green-dots-juggle.md
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#500 [B2BP-1016] Automatic localization of internal links
  .changeset/brown-steaks-jam.md
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/FramedVideo.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/HighlightBox.tsx
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/components/MarkdownRenderer.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/components/RowText.tsx
  apps/nextjs-website/src/components/ServiceCarousel.tsx
  apps/nextjs-website/src/components/Stats.tsx
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/nextjs-website/src/components/TextSection.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/__tests__/linkLocalization.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/linkLocalization.ts
  apps/nextjs-website/stories/Footer/light.stories.tsx
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Labels: size/large, website

#499 [B2BP-425] Optimize images for responsiveness and SEO
  .changeset/grumpy-candles-float.md
  .changeset/thick-hounds-prove.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/HighlightBox/HighlightBox.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HeroChips/HeroChips.types.ts
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/react-components/types/HighlightBox/HighlightBox.types.ts
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/HighlightBox.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/image.ts
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HighlightBox/default.stories.tsx
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
  packages/eslint-config/eslint-nextjs.js
Labels: size/small, website, changeset

#501 [B2BP-1030] Make HeroChips scroll to target smoothly
  .changeset/sour-readers-heal.md
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
Labels: size/small, website, changeset

#502 [B2BP-1029] Strapi: Make Header Drawer's Link Card's and CTA Card's subtitle Rich Text
  .changeset/friendly-bottles-boil.md
  apps/strapi-cms/src/components/headers/header-drawer-cta-card.json
  apps/strapi-cms/src/components/headers/header-drawer-link-card.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#504 [B2BP-1028] - NextJS : Make Header Drawer's Link Card's and CTA Card's subtitle Rich Text
  .changeset/sharp-fishes-hammer.md
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.SideDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/stories/Header/light.stories.tsx
Labels: size/small, website, changeset

#506 [B2BP-1054] MegaHeader - enable close on click/tap out
  .changeset/odd-nails-kiss.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#510 [B2BP-1052] - Hero : remove margin-y from images
  .changeset/loud-turtles-taste.md
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
Labels: size/small, website, changeset

#509 [B2BP-1059] [B2BP-1060] Add Press Releases
  .changeset/mighty-feet-explain.md
  .changeset/red-nails-joke.md
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/PressRelease/PressRelease.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PressRelease/PressRelease.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PressRelease.tsx
  apps/nextjs-website/src/lib/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/pressRelease.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/navigation.ts
  apps/nextjs-website/src/lib/pressRelease.ts
  apps/nextjs-website/stories/PressRelease/default.stories.tsx
  apps/strapi-cms/src/api/press-release/content-types/press-release/schema.json
  apps/strapi-cms/src/api/press-release/controllers/press-release.ts
  apps/strapi-cms/src/api/press-release/routes/press-release.ts
  apps/strapi-cms/src/api/press-release/services/press-release.ts
  apps/strapi-cms/src/components/sections/press-release.json
  apps/strapi-cms/viewconfig.json
Labels: size/large

#508 [B2BP-1053] - Prefooter : change store buttons direction
  .changeset/spicy-windows-kneel.md
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Labels: size/small, website, changeset
