Repository pagopa/b2b-portals, pull requests merged in 2024-04, with the labels that each got.

#217 [B2BP-401] Style OneTrustSection
  .changeset/lucky-flies-travel.md
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/components/OneTrust.tsx
Labels: size/small, website, changeset

#224 [B2BP-513] - Update EC version from 3.1.2 to 4.0.0
  .changeset/bright-flies-act.md
  .changeset/mean-seals-give.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/components/store-buttons.json
  apps/strapi-cms/src/components/sections/editorial.json
  apps/strapi-cms/src/components/sections/hero.json
  package-lock.json
Labels: size/small, website, changeset

#232 [B2BP-516] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/small

#233 [B2BP-526] Update codeowners
  .github/CODEOWNERS
Labels: size/small

#234 [B2BP-526] Add maintainers as codeowners of apps
  .github/CODEOWNERS
Labels: size/small

#242 [B2BP-516] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/small

#243 [B2BP-547] - Fix downgrade rds version
  .changeset/dry-hats-try.md
  apps/infrastructure/src/rds_aurora.tf
Labels: size/small, infra, changeset

#244 [B2BP-548] Terraform Fix ignore task definition change
  .changeset/orange-ladybugs-applaud.md
  apps/infrastructure/src/ecs.tf
Labels: size/small, infra, changeset

#227 [B2BP-535] - Implementing 'Hero' EC inside B2BP
  .changeset/witty-icons-know.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.ts
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/tsconfig.json
Labels: size/large, website, changeset

#237 [B2BP-512] - Create SSL certificate for cdn websites
  .changeset/green-days-pay.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#231 [B2BP-536] - Implementing 'Editorial' EC inside B2BP
  .changeset/gold-fireants-peel.md
  apps/nextjs-website/react-components/components/Editorial/BadgeImages/appleBadgeBase64.ts
  apps/nextjs-website/react-components/components/Editorial/BadgeImages/googleBadgeBase64.ts
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Editorial.tsx
Labels: size/large, website, changeset

#228 [B2BP-497] Set up Strapi data structure for multitenancy
  .changeset/blue-snakes-agree.md
  apps/strapi-cms/.eslintrc.json
  apps/strapi-cms/src/api/appio-footer/content-types/appio-footer/schema.json
  apps/strapi-cms/src/api/appio-footer/controllers/appio-footer.ts
  apps/strapi-cms/src/api/appio-footer/routes/appio-footer.ts
  apps/strapi-cms/src/api/appio-footer/services/appio-footer.ts
  apps/strapi-cms/src/api/appio-general/content-types/appio-general/schema.json
  apps/strapi-cms/src/api/appio-general/controllers/appio-general.ts
  apps/strapi-cms/src/api/appio-general/routes/appio-general.ts
  apps/strapi-cms/src/api/appio-general/services/appio-general.ts
  apps/strapi-cms/src/api/appio-header/content-types/appio-header/schema.json
  apps/strapi-cms/src/api/appio-header/controllers/appio-header.ts
  apps/strapi-cms/src/api/appio-header/routes/appio-header.ts
  apps/strapi-cms/src/api/appio-header/services/appio-header.ts
  apps/strapi-cms/src/api/appio-pre-header/content-types/appio-pre-header/schema.json
  apps/strapi-cms/src/api/appio-pre-header/controllers/appio-pre-header.ts
  apps/strapi-cms/src/api/appio-pre-header/routes/appio-pre-header.ts
  apps/strapi-cms/src/api/appio-pre-header/services/appio-pre-header.ts
  apps/strapi-cms/src/api/send-footer/content-types/send-footer/schema.json
  apps/strapi-cms/src/api/send-footer/controllers/send-footer.ts
  apps/strapi-cms/src/api/send-footer/routes/send-footer.ts
  apps/strapi-cms/src/api/send-footer/services/send-footer.ts
  apps/strapi-cms/src/api/send-general/content-types/send-general/schema.json
  apps/strapi-cms/src/api/send-general/controllers/send-general.ts
  apps/strapi-cms/src/api/send-general/routes/send-general.ts
  apps/strapi-cms/src/api/send-general/services/send-general.ts
  apps/strapi-cms/src/api/send-header/content-types/send-header/schema.json
  apps/strapi-cms/src/api/send-header/controllers/send-header.ts
  apps/strapi-cms/src/api/send-header/routes/send-header.ts
  apps/strapi-cms/src/api/send-header/services/send-header.ts
  apps/strapi-cms/src/api/send-pre-header/content-types/send-pre-header/schema.json
  apps/strapi-cms/src/api/send-pre-header/controllers/send-pre-header.ts
  apps/strapi-cms/src/api/send-pre-header/routes/send-pre-header.ts
  apps/strapi-cms/src/api/send-pre-header/services/send-pre-header.ts
Labels: changeset

#238 [B2BP-517] Make Update Static Content Plugin Multi-Tenant
  .changeset/shaggy-dolls-itch.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/index.ts
  package-lock.json
  packages/eslint-config/eslint-functional.js
Labels: size/small, changeset

#236 [B2BP-537] - Implementing 'HowTo' EC inside B2BP
  .changeset/strange-trees-bake.md
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/EIcon.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/HowTo.tsx
Labels: size/large, website, changeset

#247 [B2BP-551] - Create SSL Certificate for Test env SEND
  .changeset/tiny-laws-stare.md
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#229 [B2BP-503] - Terraform CDN for multitenancy
  .changeset/dirty-houses-run.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#249 [B2BP-275] - Create ssl certificate for SEND Production and comment CDN
  .changeset/popular-moose-flow.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#240 [B2BP-545] - Implementing 'Accordion' EC inside B2BP
  .changeset/eight-toys-complain.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Accordion/Accordion.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Accordion.tsx
Labels: size/small, website, changeset

#241 [B2BP-536] - Implementing 'BannerLink' EC inside B2BP
  .changeset/many-oranges-share.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/BannerLink.tsx
Labels: size/small, website, changeset

#253 [B2BP-556] - Implementing 'Cards' EC inside B2BP
  .changeset/polite-lizards-lick.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Cards.tsx
Labels: website, changeset

#252 [B2BP-555] - Terraform create Parameterization for SSL and CDN multitenacy
  .changeset/cold-apes-check.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#254 [B2BP-555] - Fix for set alias condition for CDN
  .changeset/moody-mugs-sell.md
  apps/infrastructure/src/cloudfront.tf
Labels: size/small, infra, changeset

#256 [B2BP-563] - Add CDN for tenant appio
  .changeset/smooth-tigers-roll.md
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#225 [B2BP-499, B2BP-504] - Modify-Workflow-DeployWebSite-for-Multiple-CDN-and-Tenant
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#245 [B2BP-500] Make NextJS fetch data based on tenant
  .changeset/olive-plants-boil.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/tenants.ts
Labels: size/small, website, changeset

#257 [B2BP-558] - Implementing 'Footer' EC inside B2BP
  .changeset/new-oranges-rush.md
  apps/nextjs-website/react-components/components/Footer/Footer.helpers.ts
  apps/nextjs-website/react-components/components/Footer/Footer.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorDark.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgColorLight.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgFilled.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/SvgOutline.tsx
  apps/nextjs-website/react-components/components/Footer/assets/FundedByNextGenerationEU/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/index.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/DefaultVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/FlatVariant.tsx
  apps/nextjs-website/react-components/components/Footer/assets/LogoPagoPACompany/partials/index.ts
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/components/Footer/helpers/LegalInfo.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Footer.tsx
Labels: size/large, website, changeset

#263 [B2BP-571] Move @types/koa depedency from devDependencies to standard dependencies
  .changeset/itchy-adults-begin.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset
