Repository pagopa/b2b-portals, pull requests merged in 2024-12, with the labels that each got.

#511 [B2BP-1061] [B2BP-1062] Add PressReleaseList Section
  .changeset/large-clouds-raise.md
  .changeset/odd-pans-buy.md
  apps/nextjs-website/react-components/components/PressReleaseList/PressReleaseList.helpers.tsx
  apps/nextjs-website/react-components/components/PressReleaseList/PressReleaseList.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PressReleaseList/PressReleaseList.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PressReleaseList.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/pressRelease.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/press-release-list.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset

#512 [B2BP-1066] - Nextjs add press release list
  .changeset/polite-suits-buy.md
  apps/nextjs-website/react-components/components/PressReleaseList/PressReleaseList.helpers.tsx
  apps/nextjs-website/stories/PressReleaseList/default.stories.tsx
Labels: size/small, website, changeset

#513 [B2BP-1067] Make PressReleaseList fetch correct PressReleases in Preview
  .changeset/famous-clouds-study.md
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
Labels: size/small, website, changeset

#516 [B2BP-1065] Extend preview feature to PressRelease Collection Type
  .changeset/cuddly-cars-fold.md
  .changeset/real-swans-sparkle.md
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/pressRelease.ts
  apps/strapi-cms/config/plugins.ts
Labels: website, changeset

#517 [B2BP-1070] Add explicit types to PressReleaseList stories
  .changeset/serious-lobsters-hope.md
  apps/nextjs-website/stories/PressReleaseList/default.stories.tsx
Labels: size/small, website, changeset

#515 [B2BP-1068] - Accordion : add segment to URL when opening the element if the slug is configured
  .changeset/happy-crabs-teach.md
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
Labels: size/small, website, changeset

#518 [B2BP-1063] - NextJS : Add MediaResources component
  .changeset/flat-readers-float.md
  apps/nextjs-website/react-components/components/MediaResources/MediaResources.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/MediaResources/MediaResources.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/MediaResources.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MediaResources/default.stories.tsx
Labels: website, changeset

#519 [B2BP-1069] - MegaHeader : Make logo clickable
  .changeset/unlucky-keys-promise.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#520 [B2BP-1071] - Hero : remove margin from texts
  .changeset/beige-rice-travel.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
Labels: size/small, website, changeset

#521 [B2BP-1074] - Hero : Add blank target to store buttons
  .changeset/fair-buses-draw.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
Labels: size/small, website, changeset

#522 [B2BP-1072] - PressReleaseList : Add margin-y
  .changeset/silly-experts-sin.md
  apps/nextjs-website/react-components/components/PressReleaseList/PressReleaseList.tsx
Labels: size/small, website, changeset

#525 [B2BP-899] Make slugs unique and add Duplicate Button plugin
  .changeset/ten-spiders-exercise.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/api/press-release/content-types/press-release/schema.json
  package-lock.json
Labels: size/small, changeset

#526 [B2BP-1083] Include sectionID in MegaHeader links
  .changeset/modern-bees-remember.md
  apps/nextjs-website/src/components/Header.tsx
Labels: size/small, website, changeset

#527 [B2BP-1079] - App IO : Remove horizontal site overflow caused by Form and RowText c…
  .changeset/nervous-needles-drum.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/RowText/RowText.tsx
Labels: size/small, website, changeset
