Repository pagopa/b2b-portals, pull requests merged in 2024-10, with the labels that each got.

#448 [B2BP-956] Strapi - Add notes field to Form
  .changeset/flat-seals-tease.md
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#456 [B2BP-955] - Nextjs form add notes
  .changeset/twelve-berries-reflect.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Labels: size/small, website, changeset

#460 [B2BP-942] [B2BP-904] - Nextjs form add button label and remove background
  .changeset/strong-flies-brake.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Labels: size/small, website, changeset

#459 [B2BP-913] Strapi Accordion add two-column layout
  .changeset/popular-paws-stare.md
  apps/strapi-cms/src/components/sections/accordion.json
Labels: size/small, changeset

#464 [B2BP-970] - Fix framed video bugs
  .changeset/great-eyes-explain.md
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.helpers.tsx
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.tsx
Labels: size/small, website, changeset

#463 [B2BP-971] [B2BP-960] - BannerLink : fix mobile display bugs and change text color
  .changeset/wise-actors-marry.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
Labels: size/small, website, changeset

#465 [B2BP-970] Remove FramedVideo hard-coded height to prevent video overflow on large screens
  .changeset/eight-humans-greet.md
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.tsx
Labels: size/small, website, changeset

#466 [B2BP-979] - Change Hero component spacing
  .changeset/calm-chicken-marry.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
Labels: size/small, website, changeset

#467 [B2BP-964] Add structuredData to page SEO
  .changeset/eighty-gifts-camp.md
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/types/SEO.ts
  apps/strapi-cms/src/components/shared/seo.json
Labels: size/small, website, changeset

#468 [B2BP-922] Add YouTube as a valid icon for Footer Social Links
  .changeset/silly-donkeys-vanish.md
  apps/nextjs-website/src/components/Icon.tsx
  apps/nextjs-website/src/lib/fetch/types/icons/SocialIcon.ts
  apps/strapi-cms/src/components/components/footer-link-social.json
Labels: size/small, website, changeset

#469 [B2BP-988] [B2BP-989] Add loop and autoplay to FramedVideo
  .changeset/short-badgers-kick.md
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.tsx
  apps/nextjs-website/react-components/types/FramedVideo/FramedVideo.types.ts
  apps/nextjs-website/src/components/FramedVideo.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/FramedVideo/framedVideoCommons.tsx
  apps/strapi-cms/src/components/sections/framed-video.json
Labels: size/small, website, changeset

#472 [B2BP-917] Add PreFooter as site-wide component
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preFooter.test.ts
  apps/nextjs-website/src/lib/fetch/preFooter.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/api/pre-footer/content-types/pre-footer/schema.json
  apps/strapi-cms/src/api/pre-footer/controllers/pre-footer.ts
  apps/strapi-cms/src/api/pre-footer/routes/pre-footer.ts
  apps/strapi-cms/src/api/pre-footer/services/pre-footer.ts
Labels: size/small, website

#470 [B2BP-983] - Form : Add background image
  .changeset/rich-tigers-build.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: website, changeset

#476 [B2BP-984] Strapi add Form background
  .changeset/afraid-timers-tap.md
  apps/strapi-cms/src/components/sections/form.json
Labels: size/small, changeset

#473 [B2BP-973] - Megaheader: style refinement
  .changeset/soft-moons-rescue.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#477 [B2BP-986] - Highlight Box: remove button shade in the no-button version
  .changeset/poor-ligers-doubt.md
  apps/nextjs-website/stories/HighlightBox/default.stories.tsx
Labels: size/small, website, changeset

#478 [B2BP-908] - Editorial : change color of the buttons
  .changeset/cool-sloths-double.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/src/app/theme.ts
Labels: size/small, website, changeset

#479 [B2BP-935] Strapi VideoImage add mobileImage
  .changeset/healthy-apricots-fly.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/strapi-cms/src/components/sections/video-image.json
Labels: size/small, website, changeset

#480 [B2BP-990] - Create firma certificate
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#482 [B2BP-990] - Fix Firma url_tenant value
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#481 [B2BP-990] - Make CDN use firma certificate
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#483 [B2BP-990] - Enable alias on firma cdn
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#485 [B2BP-1003] Implement themeVariant in Strapi and setup NextJS
  .changeset/rich-jokes-tickle.md
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/FramedVideo.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroChips.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/components/ServiceCarousel.tsx
  apps/nextjs-website/src/components/Stats.tsx
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/nextjs-website/stories/FramedVideo/framedVideoCommons.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/Page-Switch/pageSwitchCommons.tsx
  apps/nextjs-website/stories/ServiceCarousel/default.stories.tsx
  apps/nextjs-website/stories/Stats/default.stories.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
  apps/strapi-cms/src/api/general/content-types/general/schema.json
Labels: website, changeset

#486 [B2BP-319] [B2BP-965] Implement internationalization (i18n)
  .changeset/spotty-fishes-learn.md
  apps/nextjs-website/react-components/components/Footer/helpers/LangSwitch.tsx
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/layout.ts
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/preview/layout.tsx
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preFooter.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preFooter.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Footer/light.stories.tsx
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/api/pre-footer/content-types/pre-footer/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/components/shared/locales.json
  package-lock.json
Labels: size/large, website, changeset

#488 [B2BP-981] Strapi configure view and remove useless components
  .changeset/orange-worms-film.md
  apps/strapi-cms/src/components/components/cta-button-simple.json
  apps/strapi-cms/src/components/components/cta-button.json
  apps/strapi-cms/src/components/components/cta-group.json
  apps/strapi-cms/src/components/components/themed-icon.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#489 [B2BP-926] [B2BP-992] - Update UI behavior to support standardized color themes (IO/SEND) + Accordion bug fix
  .changeset/young-dancers-try.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.helpers.tsx
  apps/nextjs-website/react-components/components/FramedVideo/FramedVideo.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/types/Accordion/Accordion.types.ts
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/react-components/types/HowTo/HowTo.types.ts
  apps/nextjs-website/react-components/types/Page-Switch/Page-Switch.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/HeroChips/herochipsCommons.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/Page-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Page-Switch/light.stories.tsx
  apps/nextjs-website/stories/Page-Switch/pageSwitchCommons.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
Labels: size/large

#490 [B2BP-993] - RowText: Enable rich-text in component body
  .changeset/friendly-cameras-confess.md
  apps/nextjs-website/react-components/components/RowText/RowText.tsx
  apps/nextjs-website/react-components/types/RowText/RowText.types.ts
  apps/nextjs-website/src/components/RowText.tsx
  apps/nextjs-website/stories/RowText/rowTextCommons.tsx
Labels: size/small, website, changeset

#491 [B2BP-1004] Strapi RowText: Turned body field into Rich Text
  .changeset/clever-flowers-hunt.md
  apps/strapi-cms/src/components/sections/row-text.json
Labels: size/small, changeset

#492 [B2BP-877] Implement PageSwitch in Strapi. Adapt NextJS implementation
  .changeset/fresh-mirrors-attend.md
  .changeset/nasty-dingos-fetch.md
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Page-Switch/Page-Switch.tsx
  apps/nextjs-website/react-components/types/Page-Switch/Page-Switch.types.ts
  apps/nextjs-website/src/components/PageSwitch.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Page-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Page-Switch/light.stories.tsx
  apps/strapi-cms/src/api/page-switch-page/content-types/page-switch-page/schema.json
  apps/strapi-cms/src/api/page-switch-page/controllers/page-switch-page.ts
  apps/strapi-cms/src/api/page-switch-page/routes/page-switch-page.ts
  apps/strapi-cms/src/api/page-switch-page/services/page-switch-page.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/page-switch.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset
