Repository pagopa/b2b-portals, pull requests merged in 2024-05, with the labels that each got.

#261 [B2BP-562] - Implementing 'Editorial-Switch' EC inside B2BP
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/index.ts
Labels: size/large, website

#266 [B2BP-306] Fix Strapi image thumbnails not showing
  .changeset/slow-keys-explain.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/middlewares.ts
Labels: size/small, changeset

#267 [B2BP-561] - Implementing 'StripeLink' EC inside B2BP
  .changeset/chilled-zebras-judge.md
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/StripeLink/StripeLink.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/StripeLink.tsx
Labels: size/small, website, changeset

#268 [B2BP-559] - Implementing 'Header' EC inside B2BP
  .changeset/happy-beans-fry.md
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Header.tsx
Labels: website, changeset

#239 [B2BP-538] - Implementing 'Feature' EC inside B2BP
  .changeset/moody-teachers-appear.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Feature/Feature.helpers.tsx
  apps/nextjs-website/react-components/components/Feature/Feature.tsx
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Feature/Feature.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/Feature.tsx
  package-lock.json
Labels: size/large, website, changeset

#269 [B2BP-559] - Removing EC as dependencies
  .changeset/yellow-teachers-build.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/lib/header.ts
  package-lock.json
Labels: size/small, website, changeset

#273 [B2BP-588] Add @mui/lab dependency required by mui-italia
  .changeset/slimy-jars-sneeze.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset

#274 [B2BP-602] - Storybook
  .changeset/shiny-months-reply.md
  apps/nextjs-website/.eslintrc.json
  apps/nextjs-website/.gitignore
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/stories/Buttons/buttonsCommons.tsx
  apps/nextjs-website/stories/Buttons/dark.stories.ts
  apps/nextjs-website/stories/Buttons/light.stories.ts
  apps/nextjs-website/stories/Colors.mdx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/Typography.stories.tsx
  package-lock.json
Labels: size/large, website, changeset

#283 [B2BP-605] - Workflow GitHub Storybook
  .github/workflows/deploy_storybook.yaml
Labels: size/small, workflows

#276 [B2BP-591] - Storybook Accordion
  .changeset/little-geese-grow.md
  apps/nextjs-website/stories/Accordion/accordionCommons.tsx
  apps/nextjs-website/stories/Accordion/dark.stories.tsx
  apps/nextjs-website/stories/Accordion/light.stories.tsx
Labels: size/large, website, changeset

#277 [B2BP-592] - Storybook BannerLink
  .changeset/lemon-toes-rescue.md
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
  apps/nextjs-website/stories/Colors.mdx
Labels: size/small, website, changeset

#278 [B2BP-593] - Storybook Cards
  .changeset/selfish-papayas-clap.md
  apps/nextjs-website/stories/Cards/cardsCommons.tsx
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Labels: size/large, website, changeset

#280 [B2BP-596] - Storybook Feature
  .changeset/strong-shirts-invite.md
  apps/nextjs-website/stories/Feature/dark.stories.tsx
  apps/nextjs-website/stories/Feature/featureCommons.tsx
  apps/nextjs-website/stories/Feature/light.stories.tsx
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Labels: size/small, website, changeset

#281 [B2BP-599] - Storybook HowTo
  .changeset/heavy-socks-cough.md
  apps/nextjs-website/stories/HowTo/dark.stories.tsx
  apps/nextjs-website/stories/HowTo/howtoCommons.tsx
  apps/nextjs-website/stories/HowTo/light.stories.tsx
Labels: size/small, website, changeset

#282 [B2BP-601] - Storybook StripeLink
  .changeset/real-pigs-lay.md
  apps/nextjs-website/stories/StripeLink/dark.stories.tsx
  apps/nextjs-website/stories/StripeLink/light.stories.tsx
  apps/nextjs-website/stories/StripeLink/stripelinkCommons.tsx
Labels: size/small, website, changeset

#288 [B2BP-605] - Modify workflow github Storybook
  .github/workflows/deploy_storybook.yaml
Labels: size/small, workflows

#285 [B2BP-600] - Storybook PreHeader
  .changeset/nervous-ligers-swim.md
  apps/nextjs-website/.storybook/styles.css
  apps/nextjs-website/stories/Colors.mdx
  apps/nextjs-website/stories/PreHeader/light.stories.tsx
Labels: size/small, website, changeset

#289 [B2BP-451] Add Matomo Analytics
  .changeset/nasty-emus-argue.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/api/appio-general/content-types/appio-general/schema.json
  apps/strapi-cms/src/api/send-general/content-types/send-general/schema.json
Labels: size/small, website, changeset

#248 [B2BP-553] - Fix style for implemented EC components
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.ts
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.helpers.tsx
  apps/nextjs-website/react-components/components/HowTo/HowTo.tsx
  apps/nextjs-website/react-components/components/HowTo/HowToStep.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/common/ContainerRC.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/heroCommons.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
Labels: size/small, website

#290 [B2BP-624] - Fix Buttons style
  .changeset/odd-waves-study.md
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Labels: size/small, website, changeset

#292 [B2BP-598] - Storybook Header
  .changeset/red-jeans-change.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/stories/Header/light.stories.tsx
Labels: website, changeset

#293 [B2BP-597] - Storybook Footer
  .changeset/strong-cheetahs-destroy.md
  apps/nextjs-website/stories/Footer/light.stories.tsx
Labels: size/small, website, changeset

#271 [B2BP-625] Make Page's slug not unique
  .changeset/empty-lies-cheat.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
Labels: size/small, changeset

#291 [B2BP-614] - Storybook add certificate and domain
  .changeset/selfish-sheep-leave.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/route_53.tf
Labels: size/small, infra, changeset

#295 [B2BP-614] - Add cname CDN Storybook
  .changeset/light-llamas-tap.md
  apps/infrastructure/src/cloudfront.tf
Labels: size/small, infra, changeset

#299 [B2BP-631] - Terraform Add Tenant demo
  .changeset/angry-moose-act.md
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#298 [B2BP-613] Add Demo Tenant
  .changeset/silent-cows-press.md
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/tenants.ts
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#300 [B2BP-632] - Workflow GitHub add tenant demo
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#296 [B2BP-629] - Terraform delete resource send test monotenant
  .changeset/good-emus-rhyme.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/iam_policy.tf
Labels: size/small, infra, changeset
