Repository pagopa/b2b-portals, pull requests merged in 2024-01, with the labels that each got.

#88 [B2BP-246] Added styling for PreHeader
  apps/nextjs-website/.gitignore
  apps/nextjs-website/src/app/[...slug]/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
Labels: size/small, website

#56 [B2BP-194] - Action Workflow GitHub Build Deploy WebSite
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#33 [B2BP-115] - Workflow Deploy CMS
  .github/workflows/deploy_cms.yaml
  .infrastructure/99_outputs.tf
  apps/strapi-cms/.dockerignore
  apps/strapi-cms/Dockerfile
Labels: size/small, workflows, infra

#83 [B2BP-229] - Implementing Hero as home component
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website

#102 [B2BP-115] - Terraform Update IAM role deploy CMS
  .infrastructure/09_iam_role_deploy.tf
Labels: size/small, infra

#98 [B2BP-247] Add styling for Header
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/components/Header.tsx
Labels: size/small, website

#99 [B2BP-248] - Added styling for Footer
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/components/MarkdownRenderer.tsx
  package-lock.json
Labels: size/small, website

#84 [B2BP-181] - Implementing Editorial as home component
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website

#103 [B2BP-115] - Terraform set 1 task ECS active
  .infrastructure/07_ecs.tf
Labels: size/small, infra

#105 Revert "[B2BP-115] - Terraform set 1 task ECS active"
  .infrastructure/07_ecs.tf
Labels: size/small, infra

#104 [B2BP-298] Add .gitattributes file
  .gitattributes
Labels: size/small

#93 [B2BP-245] NextJS deploy configuration
  apps/nextjs-website/.env.example
  apps/nextjs-website/next.config.js
Labels: size/small, website

#96 [B2BP-249] Add styling for Hero
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/Icons/index.ts
  apps/nextjs-website/src/components/PreHeader.tsx
Labels: size/small, website

#97 [B2BP-250] Added styling for Editorial
  apps/nextjs-website/src/components/Editorial.tsx
Labels: size/small, website

#109 [B2BP-300] Added section rendering to slug/page
  apps/nextjs-website/src/app/[...slug]/page.tsx
Labels: size/small, website

#53 [B2BP-192] Configured Strapi for connection to AWS S3 Bucket
  apps/strapi-cms/.env.example
  apps/strapi-cms/README.md
  apps/strapi-cms/config/middlewares.ts
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small

#111 [B2BP-301] Added generation of robots.txt file to Next
  apps/nextjs-website/src/app/robots.ts
Labels: size/small, website

#116 [B2BP-299] - Terraform Mask AWS Access Key in ECS Task Definition
  .infrastructure/04_secrets.tf
  .infrastructure/07_ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#114 [B2BP-115] - Add permission job github deploy cms
  .github/workflows/deploy_cms.yaml
Labels: size/small, workflows

#117 [B2BP-299] - Terraform Mask AWS Access Key in ECS Task Definition add privileges
  .infrastructure/09_iam_role.tf
Labels: size/small, infra

#113 [B2BP-304] Init cloudfront-functions
  apps/cloudfront-functions/.eslintrc.json
  apps/cloudfront-functions/package.json
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
  apps/cloudfront-functions/tsconfig.json
  apps/cloudfront-functions/vite.config.ts
  apps/nextjs-website/.eslintrc.json
  package-lock.json
  packages/eslint-config/eslint-recommended.js
Labels: size/small

#119 [B2BP-115] - Workflow Deploy CMS fix for automatic Deploy on Push
  .github/workflows/deploy_cms.yaml
Labels: size/small, workflows

#120 [B2BP-115] - terraform add cdn url var
  .infrastructure/07_ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#121 [B2BP-305] - Add cloudfront function in workflow deploy cms
  .github/workflows/deploy_infra.yml
Labels: size/small, workflows

#122 Revert "[B2BP-305] - Add cloudfront function in workflow deploy cms"
  .github/workflows/deploy_infra.yml
Labels: size/small, workflows

#123 [B2BP-305] Update deploy_infra workflow
  .github/workflows/deploy_infra.yml
Labels: size/small, workflows

#124 Compile cloudfront functions also in code_review_infra workflow
  .github/workflows/code_review_infra.yaml
Labels: size/small, workflows

#115 [B2BP-305] - Add cloudfront function Terraform for add html extension
  .infrastructure/60_cdn.tf
  .infrastructure/98_variables.tf
Labels: size/small, infra

#125 Fix Cloudfront function
  .changeset/eight-pugs-rest.md
  apps/cloudfront-functions/package.json
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
  package-lock.json
Labels: size/small, changeset

#126 Add missing codecov token
  .github/workflows/code_review.yaml
Labels: size/small, workflows

#127 Move npm i outside the action
  .github/workflows/changelog.yaml
  package.json
Labels: size/small, workflows

#90 [B2BP-237] Added BannerLink section to Strapi
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/banner-link.json
Labels: size/small

#131 [B2BP-325] - Add ECS var for strapi retrieve image from cdn
  .infrastructure/07_ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#118 [B2BP-309] Configuring Strapi to return CDN URL for images src
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/middlewares.ts
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small

#134 Refactor on ESlint configuration files
  .changeset/old-bikes-sin.md
  apps/nextjs-website/.eslintrc.json
  packages/eslint-config/eslint-config.js
  packages/eslint-config/eslint-nextjs.js
  packages/eslint-config/eslint-recommended.js
  packages/eslint-config/eslint-strong.js
  packages/eslint-config/package.json
Labels: size/small, changeset

#136 [B2BP-332] Added Accordion section to Strapi
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/accordion-item.json
  apps/strapi-cms/src/components/sections/accordion.json
Labels: size/small

#128 [B2BP-316] Prevent ".html" suffix being added to URLs ending in ".woff2"
  .changeset/perfect-cycles-care.md
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small, changeset

#139 [B2BP-273] Subbed the use of path for related.slug when generating routes
  .changeset/late-seas-arrive.md
  apps/nextjs-website/src/app/page.tsx
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/src/lib/pages.ts
  package-lock.json
Labels: size/small, website, changeset

#110 [B2BP-303] - Disable indexing static site
  .infrastructure/60_cdn.tf
  .infrastructure/98_variables.tf
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra

#133 [B2BP-331] - Implementing Accordion as FAQ component
  .changeset/gorgeous-mayflies-occur.md
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#142 [B2BP-338] - Add ECS var for PAT token GitHub Strapi
  .infrastructure/04_secrets.tf
  .infrastructure/07_ecs.tf
  .infrastructure/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#81 [B2BP-221] Programmatically set Strapi configuration
  apps/strapi-cms/package.json
  apps/strapi-cms/viewconfig.json
Labels: size/small

#140 [B2BP-337] Added Update Static Content plugin for static site deployment
  .changeset/spicy-bats-wash.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#143 [B2BP-273] Unified pages and homepage in one file
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/page.tsx
Labels: size/small, website

#146 [B2BP-343] - Update Accordion component on Next and Strapi
  .changeset/eleven-windows-argue.md
  .changeset/witty-geckos-protect.md
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/accordion.json
Labels: size/small, website, changeset

#107 [B2BP-196] - Implementing Feature as Enti component
  .changeset/dirty-goats-retire.md
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#147 [B2BP-338] - Add ECS GetParameter for PAT secret
  .infrastructure/09_iam_role.tf
Labels: size/small, infra

#108 [B2BP-197] - Implementing HowTo as Enti component
  .changeset/nice-points-matter.md
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#130 [B2BP-324] - Implementing BannerLink as Enti component
  .changeset/quick-hounds-sort.md
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/banner-link.json
Labels: size/small, website, changeset

#149 [B2BP-340] - Terraform add DNS zone for Strapi
  .infrastructure/11_dns.tf
  .infrastructure/98_variables.tf
  .infrastructure/99_outputs.tf
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra

#137 [B2BP-333] Added Cards section to Strapi
  .changeset/thin-penguins-teach.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/cards-item.json
  apps/strapi-cms/src/components/sections/cards.json
Labels: size/small, changeset

#138 [B2BP-334] Added StripeLink to Strapi
  .changeset/old-impalas-float.md
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/stripe-link.json
Labels: size/small, changeset

#148 [B2BP-255] Simplified Footer
  .changeset/wicked-grapes-work.md
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/types/LinkTypes.ts
  apps/nextjs-website/src/lib/fetch/types/mui/SocialIcon.ts
  apps/nextjs-website/src/lib/footer.ts
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/components/components/company-link.json
  apps/strapi-cms/src/components/components/footer-link-group-with-social.json
  apps/strapi-cms/src/components/components/footer-link-group.json
  apps/strapi-cms/src/components/components/footer-link-social.json
  apps/strapi-cms/src/components/components/footer-link.json
Labels: website, changeset
