Repository pagopa/b2b-portals, pull requests merged in 2024-07, with the labels that each got.

#338 [B2BP-693] - PreFooter new component
  .changeset/smart-clouds-decide.md
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/Content.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/PreFooter/PreFooter.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/PreFooter/dark.stories.tsx
  apps/nextjs-website/stories/PreFooter/light.stories.tsx
  apps/nextjs-website/stories/PreFooter/prefooterCommons.tsx
Labels: website, changeset

#340 [B2BP-710] - Workflow Storybook modify trigger condition
  .github/workflows/deploy_storybook.yaml
Labels: size/small, workflows

#336 [B2BP-691] - Update Form Component
  .changeset/little-bobcats-invent.md
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Labels: website, changeset

#341 [B2BP-696] - HeroCounter new component
  .changeset/nasty-pets-occur.md
  .changeset/warm-deers-tickle.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.tsx
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/HeroCounter/HeroCounter.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  apps/nextjs-website/stories/HeroCounter/dark.stories.tsx
  apps/nextjs-website/stories/HeroCounter/herocounterCommons.tsx
  apps/nextjs-website/stories/HeroCounter/light.stories.tsx
Labels: website, changeset

#339 [B2BP-692] - MegaMenu new component
  .changeset/fair-cooks-smell.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/MegaHeader.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Labels: website, changeset

#342 [B2BP-715] - Update Form Storybook
  .changeset/gentle-rice-thank.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
Labels: size/small, website, changeset

#345 [B2BP-747] - Modify CloudWatch from old to new Strapi
  .changeset/fluffy-geckos-hang.md
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
Labels: size/small, infra, changeset

#347 [B2BP-748] - Remove S3 CDN ECS and IAM policy for old Strapi
  .changeset/shiny-kangaroos-obey.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Labels: size/small, infra, changeset

#346 [B2BP-735] - Terraform Modify ALB for remove old Strapi
  .changeset/silly-ghosts-appear.md
  apps/infrastructure/src/alb.tf
Labels: size/small, infra, changeset

#344 [B2BP-723] - Update MegaHeader UI
  .changeset/smart-elephants-rush.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Labels: size/small, website, changeset

#348 [B2BP-725] - Implement Hero storeButtons
  .changeset/grumpy-cheetahs-decide.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StoreButtons.ts
  apps/nextjs-website/stories/Hero/dark.stories.tsx
  apps/nextjs-website/stories/Hero/light.stories.tsx
  package-lock.json
Labels: website, changeset

#343 [B2BP-732] - Workflow Deploy CMS Remove Job Old Strapi
  .github/workflows/deploy_cms.yaml
Labels: size/small, workflows

#351 [B2BP-733] Updated Header Menu Implementation in Strapi
  .changeset/brown-bugs-suffer.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/menu/mega-menu-link.json
  apps/strapi-cms/src/components/menu/mega-menu.json
  apps/strapi-cms/src/components/menu/menu-link.json
  apps/strapi-cms/src/components/menu/menu-sub-link-group.json
  apps/strapi-cms/src/components/menu/menu-sub-link.json
  apps/strapi-cms/src/components/menu/menu.json
  apps/strapi-cms/viewconfig.json
  package-lock.json
Labels: size/small, changeset

#352 [B2BP-756] Update NextJS logic for determining a site's structure based on new Strapi's implementation of menus
  .changeset/pink-ghosts-double.md
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/HeroCounter.tsx
  apps/nextjs-website/src/components/PreFooter.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/src/lib/pages.ts
Labels: size/large

#353 [B2BP-756] New NextJS Header implementation including Menu and MegaMenu
  .changeset/seven-coins-burn.md
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/strapi-cms/src/api/header/content-types/header/schema.json
Labels: size/large, website, changeset

#357 [B2BP-763] Add storeButtons to Strapi Hero section
  .changeset/slow-bats-sing.md
  apps/strapi-cms/src/components/sections/hero.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#354 [B2BP-765] - Update Editorial-Switch Component
  .changeset/fresh-emus-explain.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#355 [B2BP-745] - Update Bannerlink Component
  .changeset/breezy-shrimps-collect.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/nextjs-website/stories/Bannerlink/dark.stories.tsx
  apps/nextjs-website/stories/Bannerlink/light.stories.tsx
Labels: size/small, website, changeset

#358 [B2BP-772] - Add Firma Tenant on AWS
  .changeset/fluffy-parrots-allow.md
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#360 [B2BP-780] - Avoid showing medialibrary objects list
  .changeset/quick-singers-draw.md
  apps/infrastructure/src/iam_policy.tf
Labels: size/small, infra, changeset

#361 [B2BP-772] - Workflow deploy cms add tenant firma
  .github/workflows/deploy_cms.yaml
Labels: size/small, workflows

#359 [B2BP-772] - Modify Workflow for add firma tenant
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, website

#362 [B2BP-745] - Fix UseClient error on BannerLink
  .changeset/slow-waves-compete.md
  apps/nextjs-website/src/components/BannerLink.tsx
Labels: size/small, website, changeset

#363 [B2BP-773] - Add Tenant PDND on AWS
  .changeset/breezy-seas-wash.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Labels: size/small, workflows, infra, changeset

#364 [B2BP-787] - Modify Workflow add tenant PDND
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, website

#367 [B2BP-791] Add tenants firma and pdnd to NextJS
  .changeset/brave-spoons-jump.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Labels: size/small, website, changeset

#366 [B2BP-784] Filter workflows shown in Strapi deploy plugin by tenant
  .changeset/seven-schools-perform.md
  apps/strapi-cms/src/index.ts
Labels: size/small, changeset

#356 [B2BP-744] - Update Cards Component
  .changeset/honest-carrots-retire.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
Labels: size/small, website, changeset

#369 [B2BP-785] - AWS add Tenant interop
  .changeset/quiet-games-help.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Labels: size/small, workflows, infra, changeset

#371 [B2BP-796] - AWS Upgrade Database Certificate
  .changeset/brave-rats-give.md
  apps/infrastructure/src/rds_aurora.tf
Labels: size/small, infra, changeset

#370 [B2BP-787] - Modify workflow tenant pdnd to interop
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_nextjs.yaml
  .github/workflows/deploy_website.yaml
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, website

#375 [B2BP-798] Rename tenant pdnd to interop
  .changeset/strong-birds-add.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
Labels: size/small, website, changeset

#376 [B2BP-802] Update BannerLink to add multiple sections
  .changeset/smooth-clouds-help.md
  .changeset/tidy-pens-smile.md
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
  apps/nextjs-website/react-components/types/BannerLink/BannerLink.types.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Bannerlink/bannerlinkCommons.tsx
  apps/strapi-cms/src/components/components/banner-link-section.json
  apps/strapi-cms/src/components/sections/banner-link.json
Labels: size/small, website, changeset

#373 [B2BP-795] Bug fix: Convert 'homepage' slug to '/' inside Header
  .changeset/ninety-cameras-vanish.md
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
Labels: website, changeset

#372 [B2BP-831] - AWS Remove pdnd Tenant
  .changeset/eight-poets-own.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/variables.tf
Labels: size/small, workflows, infra, changeset

#377 [B2BP-802] Add population parameters for new BannerLink to preview
  .changeset/twenty-shrimps-prove.md
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
Labels: size/small, website, changeset

#379 [B2BP-696] Fix Hero Counter style
  .changeset/ten-jobs-collect.md
  apps/nextjs-website/react-components/components/HeroCounter/HeroCounter.tsx
Labels: size/small, website, changeset

#378 [B2BP-834] Update Strapi view configuration for new BannerLink component
  .changeset/slimy-trees-look.md
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#380 [B2BP-692] - MegaMenu Ui Fix
  .changeset/spicy-balloons-sneeze.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
Labels: size/small, website, changeset

#374 [B2BP-730] Add mobileImage to Editorial and Editorial-Switch component
  .changeset/giant-drinks-breathe.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial/editorialCommons.tsx
Labels: size/small, website, changeset

#383 [B2BP-715] Refactor Form component and add it to Strapi
  .changeset/chilly-hotels-pull.md
  .changeset/tricky-weeks-destroy.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/form-category.json
  apps/strapi-cms/src/components/sections/form.json
  package-lock.json
Labels: size/large

#384 [B2BP-853] Remove unique constraint from Form Category fields
  .changeset/modern-starfishes-retire.md
  apps/strapi-cms/src/components/components/form-category.json
Labels: size/small, changeset

#385 [B2BP-854] Add defaultCategoryID field to Form
  .changeset/seven-cars-build.md
  .changeset/stale-onions-bow.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#387 [B2BP-743] Add EditorialSwitch to Strapi
  .changeset/blue-bags-reflect.md
  .changeset/plenty-rabbits-stare.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/EditorialSwitch.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/components/editorial-switch-section.json
  apps/strapi-cms/src/components/sections/editorial-switch.json
Labels: website, changeset

#388 [B2BP-743] Update Strapi view configuration for Editorial Switch
  .changeset/modern-peas-arrive.md
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#382 [B2BP-841] - VideoImage "stop" feature
  .changeset/fresh-cars-type.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/VideoImage/videoImageCommons.tsx
Labels: size/small, website, changeset

#389 [B2BP-840] - VideoImage component responsive fix
  .changeset/selfish-toys-laugh.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Labels: size/small, website, changeset

#390 [B2BP-840] - Editorial image layout fix
  .changeset/rich-cooks-act.md
  apps/nextjs-website/react-components/components/Editorial/Image.tsx
Labels: size/small, website, changeset

#386 [B2BP-738] - Header new structure
  .changeset/fresh-worms-flow.md
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/HamburgerMenu.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Ctas.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DesktopDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.DialogBubble.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HamburgerMenu.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.HeaderTitle.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.MobileDrawer.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Navigation.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/icons/HeaderIcon.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
Labels: size/large
