Repository pagopa/b2b-portals, pull requests merged in 2024-02, with the labels that each got.

#152 [B2BP-355] - Terraform BugFix overwrite value of PAT secret AWS by DeployCMS
  .infrastructure/04_secrets.tf
Labels: size/small, infra

#156 [B2BP-289] Simplify PreHeader
  .changeset/six-lamps-chew.md
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/types/mui/ButtonIcon.ts
  apps/nextjs-website/src/lib/fetch/types/mui/ButtonSize.ts
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/components/components/pre-header-button.json
Labels: website, changeset

#154 [B2BP-358] - Terraform Cloudwatch Dashboards
  .infrastructure/13_dashboard.tf
Labels: infra

#159 [B2BP-291] Format Footer's socialLinks attributes to remove warnings
  .changeset/hungry-kids-complain.md
  apps/nextjs-website/src/components/Footer.tsx
Labels: size/small, website, changeset

#157 [B2BP-290] Simplified Header
  .changeset/dry-nails-swim.md
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
  apps/nextjs-website/src/lib/header.ts
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/components/components/cta-button-simple.json
Labels: website, changeset

#161 [B2BP-252] Styling HowTo Component
  .changeset/slow-mangos-pump.md
  apps/nextjs-website/src/components/HowTo.tsx
Labels: size/small, website, changeset

#155 [B2BP-288] Fixed minor issues with Footer and Feature components
  .changeset/spotty-geckos-judge.md
  .changeset/weak-poets-matter.md
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/Icons/index.ts
  apps/strapi-cms/src/components/components/footer-link-social.json
Labels: size/small, website, changeset

#160 [B2BP-292] Simplify Hero Section
  .changeset/cool-garlics-check.md
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/hero.json
Labels: size/small, website, changeset

#150 [B2BP-341] - Add validate certificate and dns record
  .infrastructure/11_dns.tf
  .infrastructure/12_certs.tf
  .infrastructure/99_outputs.tf
  .infrastructure/env/prod/terraform.tfvars
Labels: size/small, infra

#162 [B2BP-293] Simplify Editorial Section
  .changeset/eleven-knives-trade.md
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/editorial.json
Labels: size/small, website, changeset

#163 [B2BP-341] - Terraform Fix DNS record
  .infrastructure/11_dns.tf
Labels: size/small, infra

#158 [B2BP-251] Styling Feature Component
  .changeset/nervous-dancers-bathe.md
  apps/nextjs-website/src/components/Feature.tsx
Labels: size/small, website, changeset

#169 [B2BP-253] Style BannerLink Section
  .changeset/wise-walls-give.md
  apps/nextjs-website/src/components/BannerLink.tsx
Labels: size/small, website, changeset

#167 [B2BP-390] Style Accordion Section
  .changeset/nice-snails-complain.md
  apps/nextjs-website/src/components/Accordion.tsx
Labels: size/small, website, changeset

#170 [B2BP-351] Simplify BannerLink Section
  .changeset/nasty-socks-ring.md
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/banner-link.json
Labels: size/small, website, changeset

#166 [B2BP-320] - Terraform add dns record for www url cms
  .infrastructure/11_dns.tf
Labels: size/small, infra

#165 [B2BP-348] Simplify Feature Section
  .changeset/slimy-dragons-prove.md
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/mui/FeatureItemIcon.ts
  apps/strapi-cms/src/components/components/feature-item.json
  apps/strapi-cms/src/components/sections/feature.json
Labels: size/small, website, changeset

#168 [B2BP-350] Simplify Accordion Section
  .changeset/short-worms-pump.md
  apps/strapi-cms/src/components/sections/accordion.json
Labels: size/small, changeset

#164 [B2BP-349] Simplify HowTo Section
  .changeset/ten-pens-share.md
  apps/nextjs-website/src/components/HowTo.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/mui/HowToStepIcon.ts
  apps/strapi-cms/src/components/components/link-group.json
  apps/strapi-cms/src/components/components/link.json
  apps/strapi-cms/src/components/components/step.json
  apps/strapi-cms/src/components/sections/how-to.json
Labels: size/small, website, changeset

#173 [B2BP-397] Prevent caching of fetch response
  .changeset/breezy-peaches-report.md
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
Labels: size/small, website, changeset

#171 [B2BP-310] Enable coverage on tests
  .changeset/famous-bottles-sin.md
  apps/nextjs-website/package.json
Labels: size/small, website, changeset

#181 [B2BP-358] - Terraform Add Cloudwatch Alarm
  .infrastructure/13_dashboard.tf
  .infrastructure/14_alarm.tf
Labels: infra

#182 [B2BP-377] - Updating EC version from 2.1.3 to 2.3.1
  .changeset/tidy-lies-warn.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset

#183 [B2BP-392] Add SEO to Strapi
  .changeset/popular-dingos-ring.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/general/controllers/general.ts
  apps/strapi-cms/src/api/general/routes/general.ts
  apps/strapi-cms/src/api/general/services/general.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/shared/manifest.json
  apps/strapi-cms/src/components/shared/seo.json
  package-lock.json
Labels: size/small, changeset

#179 [B2BP-315] Replace <Icon> with our own MUIIcon function
  .changeset/wild-gorillas-cheat.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/Icons/index.ts
  apps/nextjs-website/src/components/MUIIcon.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
Labels: size/small, website, changeset

#185 [B2BP-397] Removed used of NextJS cache
  .github/actions/deploy/action.yaml
Labels: size/small

#145 [B2BP-357] - Implementing Cards component from Editorial-Components
  .changeset/quick-buckets-care.md
  .changeset/young-cobras-marry.md
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/mui/CardsItemIcon.ts
  apps/strapi-cms/src/components/components/cards-item.json
  apps/strapi-cms/src/components/sections/cards.json
Labels: size/small, website, changeset

#186 [B2BP-254] - Implementing stripeLink Style
  .changeset/tiny-mayflies-roll.md
  apps/nextjs-website/src/components/StripeLink.tsx
Labels: size/small, website, changeset
