Repository pagopa/b2b-portals, pull requests merged in 2024-03, with the labels that each got.

#190 [B2BP-437] - Update EC version from 2.3.2 to 2.3.3
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website

#188 [B2BP-400] - StripeLink HTML rendering bug fix
  .changeset/grumpy-cooks-fetch.md
  .changeset/old-peaches-wait.md
  apps/nextjs-website/src/components/StripeLink.tsx
  apps/strapi-cms/src/components/sections/stripe-link.json
Labels: size/small, website, changeset

#191 [B2BP-354] - BannerLink HTML rendering
  .changeset/khaki-geckos-drum.md
  .changeset/tiny-pandas-raise.md
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/strapi-cms/src/components/sections/banner-link.json
Labels: size/small, website, changeset

#189 [B2BP-392] Implement SEO NextJS-side
  .changeset/funny-lies-approve.md
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/manifest.ts
  apps/nextjs-website/src/lib/__tests__/pages.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/data.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/fetch/types/SEO.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/src/lib/pages.ts
Labels: website, changeset

#192 [B2BP-439] - Editorial Components UI fix
  apps/nextjs-website/src/components/Editorial.tsx
Labels: size/small, website

#193 [B2BP-418] Added capability for internal icon use
  .changeset/fair-months-matter.md
  .changeset/little-mails-marry.md
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/components/Icon.tsx
  apps/nextjs-website/src/components/MUIIcon.tsx
  apps/nextjs-website/src/components/PreHeader.tsx
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
  apps/nextjs-website/src/lib/fetch/types/MUIButtonSize.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/fetch/types/icons/ButtonIcon.ts
  apps/nextjs-website/src/lib/fetch/types/icons/CardsItemIcon.ts
  apps/nextjs-website/src/lib/fetch/types/icons/FeatureItemIcon.ts
  apps/nextjs-website/src/lib/fetch/types/icons/HowToStepIcon.ts
  apps/nextjs-website/src/lib/fetch/types/icons/SocialIcon.ts
  apps/nextjs-website/src/lib/fetch/types/icons/StripeLinkIcon.ts
  apps/strapi-cms/src/components/components/footer-link-social.json
Labels: size/small, website, changeset

#194 [B2BP-440, B2BP-441] Update Cards structure to reflect editorial-components update
  .changeset/breezy-pans-float.md
  .changeset/quick-yaks-help.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/components/cards-item.json
  apps/strapi-cms/src/components/sections/cards.json
  package-lock.json
Labels: size/small, website, changeset

#198 [B2BP-422] - Add logo to Header
  .changeset/eighty-tips-eat.md
  .changeset/tall-ears-leave.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  package-lock.json
Labels: size/small, website, changeset

#199 [B2BP-455] Fix ThemeProvider import
  .changeset/young-icons-fetch.md
  apps/nextjs-website/src/app/layout.tsx
Labels: size/small, website, changeset

#197 [B2BP-274] Configure Strapi UI for Production
  .changeset/smart-dodos-fold.md
  apps/strapi-cms/package.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#203 [B2BP-472] - Update EC version from 3.1.0 to 3.1.1
  .changeset/early-jars-float.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset

#201 [B2BP-432] Fix dark theme colors
  .changeset/perfect-buckets-run.md
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/HowTo.tsx
Labels: size/small, website, changeset

#205 [B2BP-478] Remove numeric prefix from Terraform files
  .infrastructure/README.md
  .infrastructure/alarm.tf
  .infrastructure/alb.tf
  .infrastructure/cdn.tf
  .infrastructure/certs.tf
  .infrastructure/dashboard.tf
  .infrastructure/database.tf
  .infrastructure/dns.tf
  .infrastructure/ecr.tf
  .infrastructure/ecs.tf
  .infrastructure/iam_access_key_strapi.tf
  .infrastructure/iam_group.tf
  .infrastructure/iam_role.tf
  .infrastructure/iam_role_deploy.tf
  .infrastructure/iam_user.tf
  .infrastructure/main.tf
  .infrastructure/network.tf
  .infrastructure/outputs.tf
  .infrastructure/secrets.tf
  .infrastructure/storage.tf
  .infrastructure/variables.tf
Labels: size/small, infra

#204 [B2BP-473] Update navigation API call to avoid using * values
  .changeset/lovely-insects-yell.md
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
Labels: size/small, website, changeset

#206 [B2BP-475] Refactor Terraform resources
  .infrastructure/acm.tf
  .infrastructure/cloudfront.tf
  .infrastructure/cloudwatch_dashboard.tf
  .infrastructure/cloudwatch_metric_alarm.tf
  .infrastructure/ecr_repository.tf
  .infrastructure/iam_access_key.tf
  .infrastructure/iam_access_key_strapi.tf
  .infrastructure/iam_policy.tf
  .infrastructure/iam_role.tf
  .infrastructure/iam_role_deploy.tf
  .infrastructure/iam_user.tf
  .infrastructure/rds_aurora.tf
  .infrastructure/route_53.tf
  .infrastructure/s3_bucket.tf
  .infrastructure/security_group.tf
  .infrastructure/ssm_parameter.tf
  .infrastructure/vpc.tf
Labels: size/large, infra

#207 [B2BP-477] Set concurrency in GitHub Action workflows
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_infra.yml
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#210 [B2BP-482] Fix Changelog workflow
  .github/workflows/changelog.yaml
  .github/workflows/check_pr_title.yaml
  package.json
Labels: size/small, workflows

#209 [B2BP-481] Img to next/image warning fix
  .changeset/forty-elephants-deny.md
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/components/Editorial.tsx
Labels: size/small, website, changeset

#211 [B2BP-476] Migrate infrastructure code within monorepo applications
  .changeset/soft-forks-tease.md
  .github/actions/setup-terraform/action.yaml
  .github/labels.yaml
  .github/workflows/code_review_infra.yaml
  .github/workflows/deploy_infra.yml
  .github/workflows/pr_enrich.yaml
  apps/infrastructure/.gitignore
  apps/infrastructure/README.md
  apps/infrastructure/package.json
  apps/infrastructure/src/.terraform-version
  apps/infrastructure/src/.terraform.lock.hcl
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/cloudwatch_dashboard.tf
  apps/infrastructure/src/cloudwatch_metric_alarm.tf
  apps/infrastructure/src/ecr_repository.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/env/prod/backend.tfvars
  apps/infrastructure/src/env/prod/terraform.tfvars
  apps/infrastructure/src/iam_access_key.tf
  apps/infrastructure/src/iam_group.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_role.tf
  apps/infrastructure/src/iam_user.tf
  apps/infrastructure/src/identity/main.tf
  apps/infrastructure/src/identity/outputs.tf
  apps/infrastructure/src/identity/variables.tf
  apps/infrastructure/src/main.tf
  apps/infrastructure/src/outputs.tf
  apps/infrastructure/src/rds_aurora.tf
  apps/infrastructure/src/route_53.tf
  apps/infrastructure/src/s3_bucket.tf
  apps/infrastructure/src/security_group.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/terraform.sh
  apps/infrastructure/src/variables.tf
  apps/infrastructure/src/vpc.tf
  docs/architecture/decisions/0002-location-of-iac-files.md
  package-lock.json
Labels: size/small, workflows, infra, changeset, docs

#208 [B2BP-480] Fix Footer ":nth-last-child" warning
  .changeset/shy-hounds-wonder.md
  apps/nextjs-website/src/components/Footer.tsx
Labels: size/small, website, changeset

#218 [B2BP-487] - Fix UI components
  .changeset/wet-taxis-knock.md
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/BannerLink.tsx
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Feature.tsx
  apps/nextjs-website/src/components/HowTo.tsx
Labels: size/small, website, changeset

#220 [B2BP-495] - Update EC version from 3.1.1 to 3.1.2
  .changeset/orange-plants-double.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset

#215 [B2BP-401] Update NextJS to 14.1.0
  .changeset/large-bottles-burn.md
  apps/nextjs-website/package.json
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  package-lock.json
Labels: size/small, website, changeset

#216 [B2BP-401] Add OneTrust section to render Privacy Policy
  .changeset/afraid-eels-bake.md
  .changeset/wicked-forks-sing.md
  apps/nextjs-website/public/scripts/otnotice-1.0.min.js
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/components/OneTrust.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/__tests__/oneTrust.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/src/lib/oneTrust.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/one-trust.json
Labels: size/small, website, changeset
