Repository pagopa/b2b-portals, pull requests merged in 2024-06, with the labels that each got.

#297 [B2BP-639] - Fix style Header
  .changeset/stale-swans-enjoy.md
  apps/nextjs-website/.storybook/main.ts
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Header/Header.helpers.tsx
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/components/MenuDropdown.tsx
  apps/nextjs-website/react-components/components/Header/components/Navigation.tsx
  apps/nextjs-website/react-components/components/Header/components/Title.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  package-lock.json
Labels: size/small, website, changeset

#301 [B2BP-649] - resources aws for preview strapi
  .changeset/pink-olives-swim.md
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecr_repository.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/route_53.tf
  apps/infrastructure/src/security_group.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#303 [B2BP-650] - Workflow GitHub Deploy NextJS on AWS
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/.dockerignore
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, website

#270 [B2BP-589] - IFrame Component
  .changeset/neat-dots-cover.md
  .changeset/strange-cups-lay.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/IFrame/IFrame.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/IFrame.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/i-frame.json
  package-lock.json
Labels: size/small, website, changeset

#304 [B2BP-654] - Fix style PreHeader
  .changeset/chilly-games-run.md
  apps/nextjs-website/react-components/components/PreHeader/PreHeader.tsx
Labels: size/small, website, changeset

#306 [B2BP-649] - Add logs to ECS
  .changeset/odd-apples-smoke.md
  apps/infrastructure/src/cloudwatch_logs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_role.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Labels: size/small, infra, changeset

#308 [B2BP-649] - Add stream prefix to ECS logs
  .changeset/shy-kangaroos-type.md
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Labels: size/small, infra, changeset

#312 [B2BP-649] - Modify ECS env var NextJS
  .changeset/strange-kangaroos-accept.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/nextjs_app.json.tpl
Labels: size/small, infra, changeset

#311 [B2BP-658] - Fix style Accordion
  .changeset/proud-books-leave.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
Labels: size/small, website, changeset

#310 [B2BP-643] Implement Preview Mode in NextJS
  .changeset/polite-rivers-chew.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/next.config.js
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/app/robots.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/Preview.ts
  apps/nextjs-website/tsconfig.json
Labels: website, changeset

#313 [B2BP-644] Add Preview button to Strapi CMS
  .changeset/fast-meals-chew.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#314 [B2BP-659] - add env var ecs strapi preview
  .changeset/lucky-chefs-wash.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra, changeset

#315 [B2BP-659] - Workflow deploy nextjs update
  .changeset/mighty-maps-camp.md
  .github/workflows/deploy_nextjs.yaml
  apps/infrastructure/src/alb.tf
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, infra, website, changeset

#319 [B2BP-663] - Fix Feature rendering component
  .changeset/khaki-geese-talk.md
  apps/nextjs-website/react-components/components/Feature/FeatureStackItem.tsx
  apps/nextjs-website/react-components/components/Feature/Subtitle.tsx
Labels: size/small, website, changeset

#317 [B2BP-662] - Fix style BannerLink
  .changeset/happy-geckos-clap.md
  apps/nextjs-website/react-components/components/BannerLink/BannerLink.tsx
  apps/nextjs-website/react-components/components/BannerLink/Content.tsx
Labels: size/small, website, changeset

#316 [B2BP-661] - Fix style Cards
  .changeset/tame-windows-travel.md
  apps/nextjs-website/react-components/components/Cards/Cards.helpers.tsx
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/components/Cards/CardsItem.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Labels: size/large, website

#321 [B2BP-589] Implement iframe-resizer/react into iFrame
  .changeset/swift-elephants-kneel.md
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Labels: size/small, website, changeset

#318 [B2BP-627] - Fix style StripeLink
  .changeset/popular-tomatoes-draw.md
  apps/nextjs-website/react-components/components/StripeLink/StripeLink.tsx
Labels: size/small, website, changeset

#322 [B2BP-669] - Add S3 and CDN Medialibrary multitenant
  .changeset/tall-jeans-yell.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/s3_bucket.tf
Labels: size/small, infra, changeset

#323 [B2BP-670] - ECS and TargetGroup for Strapi Multitenant
  .changeset/chilled-berries-divide.md
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ssm_parameter.tf
Labels: size/small, infra, changeset

#324 [B2BP-671] - Add AWS ACM ALB Route53 Multitenant
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/route_53.tf
Labels: size/small, infra

#327 [B2BP-667] - Fix Editorial-Switch Storybook error
  .changeset/khaki-pants-carry.md
  apps/nextjs-website/react-components/components/Editorial-Switch/Editorial-Switch.tsx
  apps/nextjs-website/react-components/types/Editorial-Switch/Editorial-Switch.types.ts
  apps/nextjs-website/stories/Editorial-Switch/dark.stories.tsx
  apps/nextjs-website/stories/Editorial-Switch/editorialCommons.tsx
  apps/nextjs-website/stories/Editorial-Switch/light.stories.tsx
Labels: size/small, website, changeset

#326 [B2BP-672] - Workflow-deploy-cms-multitenant
  .changeset/unlucky-fans-laugh.md
  .github/workflows/deploy_cms.yaml
  apps/infrastructure/src/iam_policy.tf
Labels: size/small, workflows, infra, changeset

#328 [B2BP-673] - Workflow DeployWebsite Remove trigger on merge PR
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#329 [B2BP-690] - Fix Hero Storybook Light Version
  .changeset/dry-crews-eat.md
  apps/nextjs-website/stories/Hero/heroCommons.tsx
Labels: size/small, website, changeset

#320 [B2BP-609] - Form new component
  .changeset/new-penguins-notice.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/app/theme.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Form/dark.stories.tsx
  apps/nextjs-website/stories/Form/formCommons.tsx
  apps/nextjs-website/stories/Form/light.stories.tsx
Labels: size/small, website, changeset

#330 [B2BP-697] Migrate Strapi to new separated-tenants architecture
  .changeset/healthy-rings-glow.md
  apps/strapi-cms/.env.example
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/appio-footer/content-types/appio-footer/schema.json
  apps/strapi-cms/src/api/appio-footer/controllers/appio-footer.ts
  apps/strapi-cms/src/api/appio-footer/routes/appio-footer.ts
  apps/strapi-cms/src/api/appio-footer/services/appio-footer.ts
  apps/strapi-cms/src/api/appio-general/content-types/appio-general/schema.json
  apps/strapi-cms/src/api/appio-general/controllers/appio-general.ts
  apps/strapi-cms/src/api/appio-general/routes/appio-general.ts
  apps/strapi-cms/src/api/appio-general/services/appio-general.ts
  apps/strapi-cms/src/api/appio-header/content-types/appio-header/schema.json
  apps/strapi-cms/src/api/appio-header/controllers/appio-header.ts
  apps/strapi-cms/src/api/appio-header/routes/appio-header.ts
  apps/strapi-cms/src/api/appio-header/services/appio-header.ts
  apps/strapi-cms/src/api/appio-pre-header/content-types/appio-pre-header/schema.json
  apps/strapi-cms/src/api/appio-pre-header/controllers/appio-pre-header.ts
  apps/strapi-cms/src/api/appio-pre-header/routes/appio-pre-header.ts
  apps/strapi-cms/src/api/appio-pre-header/services/appio-pre-header.ts
  apps/strapi-cms/src/api/footer/content-types/footer/schema.json
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/api/header/content-types/header/schema.json
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/api/pre-header/content-types/pre-header/schema.json
  apps/strapi-cms/src/api/send-footer/content-types/send-footer/schema.json
  apps/strapi-cms/src/api/send-footer/controllers/send-footer.ts
  apps/strapi-cms/src/api/send-footer/routes/send-footer.ts
  apps/strapi-cms/src/api/send-footer/services/send-footer.ts
  apps/strapi-cms/src/api/send-general/content-types/send-general/schema.json
  apps/strapi-cms/src/api/send-general/controllers/send-general.ts
  apps/strapi-cms/src/api/send-general/routes/send-general.ts
  apps/strapi-cms/src/api/send-general/services/send-general.ts
  apps/strapi-cms/src/api/send-header/content-types/send-header/schema.json
  apps/strapi-cms/src/api/send-header/controllers/send-header.ts
  apps/strapi-cms/src/api/send-header/routes/send-header.ts
  apps/strapi-cms/src/api/send-header/services/send-header.ts
  apps/strapi-cms/src/api/send-pre-header/content-types/send-pre-header/schema.json
  apps/strapi-cms/src/api/send-pre-header/controllers/send-pre-header.ts
  apps/strapi-cms/src/api/send-pre-header/routes/send-pre-header.ts
  apps/strapi-cms/src/api/send-pre-header/services/send-pre-header.ts
  apps/strapi-cms/src/index.ts
  package-lock.json
Labels: changeset

#333 [B2BP-703] - Set DB schema ECS Strapi with Tenant
  .changeset/lovely-beds-attack.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra, changeset

#331 [B2BP-699] Adapt NextJS to new separated-tenants architecture
  .changeset/flat-mayflies-bathe.md
  apps/nextjs-website/.env.example
  apps/nextjs-website/src/AppEnv.ts
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preHeader.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
  apps/nextjs-website/src/lib/tenants.ts
Labels: size/large, website, changeset

#337 [B2BP-698] Re-enabled Preview Button inside Strapi
  .changeset/purple-scissors-give.md
  apps/strapi-cms/config/plugins.ts
Labels: size/small, changeset

#334 [B2BP-704] - Add var strapi for deploy website
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website.yaml
Labels: size/small, workflows

#335 [B2BP-705] - Add var for Deploy NextJS
  .github/workflows/deploy_nextjs.yaml
  apps/nextjs-website/Dockerfile
Labels: size/small, workflows, website
