Repository pagopa/b2b-portals, pull requests merged in 2025-03, with the labels that each got.

#601 [B2BP-1097] [B2BP-1098] [B2BP-1191] Mixpanel: Track store buttons click
  .changeset/wicked-ears-cheat.md
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/components/common/StoreButtons.tsx
Labels: size/small, website, changeset

#603 [B2BP-1192] Mixpanel: Add tracking of MegaHeader CTA click
  .changeset/perfect-dragons-end.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/common/Common.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#605 [B2BP-485] NextJS: Disable cache during data fetching in development
  .changeset/nervous-rats-own.md
  apps/nextjs-website/src/AppEnv.ts
Labels: size/small, website, changeset

#606 [B2BP-1209] Bug Fix: StoreButtons event not registering immediately
  .changeset/sixty-sloths-hide.md
  apps/nextjs-website/react-components/components/common/StoreButtons.tsx
Labels: size/small, website, changeset

#607 [B2BP-1210] Update mixpanel configuration and implementation to work on iOS and track links
  .changeset/thick-pandas-behave.md
  apps/nextjs-website/package.json
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/common/StoreButtons.tsx
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/components/TrackPageView.tsx
  package-lock.json
Labels: size/small, website, changeset

#609 [B2BP-1212] Refactored Mixpanel tracking into useMixpanelTracking hook
  .changeset/shiny-onions-peel.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/components/common/StoreButtons.tsx
  apps/nextjs-website/react-components/components/common/tracking.tsx
Labels: website, changeset

#611 Setup SEND prod CDN and cert
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#612 [B2BP-657] Add postbuild script to remove preview page from static website build
  .changeset/eleven-trainers-build.md
  apps/nextjs-website/package.json
  apps/nextjs-website/scripts/postbuild.js
  apps/nextjs-website/src/app/robots.ts
Labels: size/small, website, changeset

#613 [B2BP-1217] Fix 404 hydration error and add redirect logic to 404 page
  .changeset/long-keys-brush.md
  apps/nextjs-website/src/app/layout.tsx
  apps/nextjs-website/src/app/not-found.tsx
Labels: size/small, website, changeset

#614 [B2BP-1207] - Accordion: Change behavior of anchor links
  .changeset/dry-cooks-jog.md
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
Labels: size/small, website, changeset

#617 [B2BP-1214] Extend preview functionality to PageSwitch CollectionType
  .changeset/grumpy-feet-smell.md
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/strapi-cms/config/plugins.ts
Labels: website, changeset

#618 [B2BP-1221] Implement workaround for iframe-resizer's resize function not working
  .changeset/perfect-impalas-peel.md
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
  apps/nextjs-website/react-components/types/IFrame/IFrame.types.ts
Labels: size/small, website, changeset

#619 [B2BP-203] Add clean script to NextJS
  .changeset/hot-horses-worry.md
  apps/nextjs-website/package.json
  package-lock.json
Labels: size/small, website, changeset
