Repository pagopa/b2b-portals, pull requests merged in 2025-07, with the labels that each got.

#668 [TEMP] Allow iFrame scroll
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Labels: size/small, website

#672 Revert "[B2BP-1271] [B2BP-1275] Add email notifications upon workflow trigger and end"
  .changeset/warm-lions-shop.md
  .github/workflows/notify_deploy_website_end.yaml
  apps/infrastructure/src/README.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/ssm_parameter.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, workflows, infra, changeset

#675 fix: Missed policy to read new ssm parameter
  apps/infrastructure/src/iam_policy.tf
Labels: size/small, infra

#679 [B2BP-1276] Update Strapi Deploy Plugin to guarantee SES compatibility
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small

#676 [B2BP-1305] Prevent making asset URLs relative in preview mode
  .changeset/gentle-spoons-thank.md
  .changeset/honest-falcons-chew.md
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/parseAssetUrls.test.ts
  apps/nextjs-website/src/lib/fetch/extractFromResponse.ts
  apps/nextjs-website/src/lib/fetch/parseAssetUrls.ts
Labels: size/small, website, changeset

#681 [B2BP-1312] Update alb listener security policy
  apps/infrastructure/src/alb.tf
  apps/infrastructure/src/ssm_parameter.tf
Labels: size/small, infra

#682 Update record txt for dynamics integration
  apps/infrastructure/src/route_53.tf
Labels: size/small, infra

#683 [B2BP-1237] - Change DynamicsForm style
  .changeset/afraid-days-learn.md
  apps/nextjs-website/react-components/types/DynamicsForm/DynamicsForm.types.ts
  apps/nextjs-website/src/components/DynamicsForm.tsx
Labels: size/small, website, changeset

#670 [B2BP-1267] - Fix bug on cookie banner language
  .changeset/dry-terms-post.md
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/components/ConsentHandler.tsx
Labels: size/small, website, changeset

#685 [B2BP-1322] Update bucket name in deploy_storybook.yaml
  .github/workflows/deploy_storybook.yaml
Labels: size/small, workflows
