Repository pagopa/b2b-portals, pull requests merged in 2025-04, with the labels that each got.

#621 [B2BP-1229] Maximize NextJS test coverage
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/__tests__/image.test.ts
  apps/nextjs-website/src/lib/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/extractFromResponse.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/tenantApiData.test.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/tenantApiData.ts
  apps/nextjs-website/src/lib/linkLocalization.ts
  apps/nextjs-website/src/lib/oneTrust.ts
Labels: website

#622 [B2BP-1218] - add new component DynamicsForm (POC)
  .changeset/silly-turkeys-matter.md
  apps/nextjs-website/react-components/components/DynamicsForm/DynamicsForm.tsx
  apps/nextjs-website/react-components/components/index.ts
  apps/nextjs-website/react-components/types/DynamicsForm/DynamicsForm.types.ts
  apps/nextjs-website/react-components/types/index.ts
  apps/nextjs-website/src/components/DynamicsForm.tsx
  apps/nextjs-website/src/components/PageSection/PageSection.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#625 [B2BP-1232] Add DynamicsForm to Strapi
  .changeset/early-toys-attack.md
  apps/nextjs-website/react-components/components/DynamicsForm/DynamicsForm.tsx
  apps/nextjs-website/react-components/types/DynamicsForm/DynamicsForm.types.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/api/page/content-types/page/schema.json
  apps/strapi-cms/src/components/sections/dynamics-form.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#626 [B2BP-1224] Update strapi-plugin-static-deploy to add RBAC
  .changeset/rotten-badgers-flow.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#628 [B2BP-1238] Storybook: User friendly controls for Header
  .changeset/fuzzy-flowers-wonder.md
  apps/nextjs-website/.storybook/preview.tsx
  apps/nextjs-website/stories/Header/component.tsx
  apps/nextjs-website/stories/Header/light.stories.tsx
Labels: website, changeset

#630 Add SES permissions to Strapi user
  apps/infrastructure/src/iam_group.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/iam_user.tf
Labels: size/small, infra

#629 [B2BP-1226] Strapi Plugin Deploy: Upgrade to add confirmation dialog before trigger
  .changeset/wise-cheetahs-worry.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#631 [B2BP-1227] Strapi Plugin Deploy: Update to add link to workflow run's github page
  .changeset/gorgeous-panthers-worry.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#633 [B2BP-1215] Remove Matomo
  .changeset/five-ads-suffer.md
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/components/shared/analytics.json
Labels: size/small, website, changeset

#636 [B2BP-1251] - Update NotFoundPage texts
  apps/nextjs-website/react-components/components/NotFoundPage/NotFoundPage.tsx
Labels: size/small, website

#638 [B2BP-1180] Remove store links from MegaHeader
  .changeset/breezy-actors-approve.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#639 [B2BP-1252] Hide 404 page in preview mode
  .changeset/flat-cups-cheer.md
  apps/nextjs-website/src/app/not-found.tsx
Labels: size/small, website, changeset

#637 [B2BP-1248] - Form: make input field placeholders editable on NextJS
  .changeset/chatty-games-shop.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
  apps/nextjs-website/react-components/types/Form/Form.types.ts
  apps/nextjs-website/src/components/Form.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#640 [B2BP-949] Strapi make form placeholder editable
  .changeset/calm-dolphins-begin.md
  apps/strapi-cms/src/components/sections/form.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset
