Repository pagopa/b2b-portals, pull requests merged in 2025-02, with the labels that each got.

#553 [B2BP-1133] Implement across-subdomain mixpanel cookie
  .changeset/stale-pots-divide.md
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/components/shared/mix-panel.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#554 [B2BP-1111] Standard Header: Add drawer subtitle, allow multiple icons in drawer link cards, align drawer cta card to bottom
  .changeset/big-berries-flow.md
  apps/nextjs-website/react-components/components/Header/Header.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
  apps/nextjs-website/react-components/components/Header/helpers/Header.SideDrawer.helpers.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/StrapiImage.ts
  apps/nextjs-website/stories/Header/light.stories.tsx
  apps/strapi-cms/src/components/headers/header-drawer-link-card.json
  apps/strapi-cms/src/components/headers/header-drawer.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset

#557 Bug Fix: Up SSG timeout to 10 minutes
  .changeset/slimy-bobcats-nail.md
  apps/nextjs-website/next.config.js
Labels: size/small, website, changeset

#548 [B2BP-1123] [B2BP-1124] Add new layout to Cards and add bottom CTA
  .changeset/nine-panthers-beam.md
  apps/strapi-cms/src/components/sections/cards.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#556 [B2BP-1125] [B2BP-1126] - NextJS Add new layout to Cards and add bottom CTA
  .changeset/little-suits-hug.md
  apps/nextjs-website/react-components/components/Cards/Cards.tsx
  apps/nextjs-website/react-components/types/Cards/Cards.types.ts
  apps/nextjs-website/src/components/Cards.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/navigation.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/Cards/dark.stories.tsx
  apps/nextjs-website/stories/Cards/light.stories.tsx
Labels: website, changeset

#558 [B2BP-1134] - Press Release add European date notation
  .changeset/light-parents-cross.md
  apps/nextjs-website/react-components/components/PressRelease/PressRelease.tsx
  apps/nextjs-website/src/components/PressRelease.tsx
  apps/nextjs-website/stories/PressRelease/default.stories.tsx
Labels: size/small, website, changeset

#561 [B2BP-1144] - Header: change the layout of the cards
  .changeset/hip-bottles-heal.md
  apps/nextjs-website/react-components/components/Header/helpers/Header.Card.helpers.tsx
Labels: size/small, website, changeset

#560 [B2BP-1137] - Megaheader: fix bugs on mobile scroll
  .changeset/gorgeous-lions-drum.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#559 [B2BP-1141] Implement cookie consent logic
  .changeset/unlucky-peas-notice.md
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/components/shared/mix-panel.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#562 [B2BP-1146] Refactor ConsentHandler
  .changeset/brown-teachers-cry.md
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/components/ConsentHandler.tsx
Labels: size/small, website, changeset

#563 [B2BP-1149] Strapi: Convert Footer social icons to images
  .changeset/three-jokes-teach.md
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/strapi-cms/src/components/components/footer-link-social.json
Labels: size/small, website, changeset

#566 [B2BP-1121] Update strapi-plugin-static-deploy to add workflow history
  .changeset/sweet-monkeys-train.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#568 [B2BP-1158] Mixpanel: Automatic pageview tracking set to url-with-path
  .changeset/bright-taxis-turn.md
  apps/nextjs-website/src/components/ConsentHandler.tsx
Labels: size/small, website, changeset

#570 [B2BP-1166] Setup appio.it for production switch
  apps/infrastructure/src/variables.tf
Labels: size/small, infra

#571 [B2BP-1158] Mixpanel: Track page views manually
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/components/TrackPageView.tsx
Labels: size/small, website

#574 [B2BP-1156] Add titleTag to Hero and Editorial
  .changeset/grumpy-pots-build.md
  apps/nextjs-website/react-components/components/Editorial/Content.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/types/Editorial/Editorial.types.ts
  apps/nextjs-website/react-components/types/Hero/Hero.types.ts
  apps/nextjs-website/src/components/Editorial.tsx
  apps/nextjs-website/src/components/Hero.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/strapi-cms/src/components/sections/editorial.json
  apps/strapi-cms/src/components/sections/hero.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#575 [B2BP-1168] Refactor Editorial to avoid having to use faulty useIsMobile hook
  .changeset/fresh-socks-burn.md
  apps/nextjs-website/react-components/components/Editorial/Editorial.helpers.tsx
  apps/nextjs-website/react-components/components/Editorial/Editorial.tsx
Labels: size/small, website, changeset

#567 [B2BP-1112] [B2BP-1157] Extend Drawer to MegaHeader
  .changeset/gorgeous-windows-decide.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/Header/Header.types.ts
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#577 [B2BP-1163] Add mobile app CTA to MegaHeader
  .changeset/sour-weeks-dream.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/components/common/Common.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/types/CTAButton.ts
  apps/strapi-cms/src/components/components/cta-button-app.json
  apps/strapi-cms/src/components/headers/mega-header.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#578 Bug fix: MegaHeader AppCTAButton takes priority even if undefined
  .changeset/chilled-weeks-rhyme.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#581 [B2BP-1178] Convert base64 images to normal images
  apps/nextjs-website/react-components/assets/appleStoreBadge.png
  apps/nextjs-website/react-components/assets/appleStoreOutlinedDark.png
  apps/nextjs-website/react-components/assets/appleStoreOutlinedLight.png
  apps/nextjs-website/react-components/assets/googleStoreBadge.png
  apps/nextjs-website/react-components/assets/googleStoreOutlinedDark.png
  apps/nextjs-website/react-components/assets/googleStoreOutlinedLight.png
  apps/nextjs-website/react-components/components/Editorial/BadgeImages/appleBadgeBase64.ts
  apps/nextjs-website/react-components/components/Editorial/BadgeImages/googleBadgeBase64.ts
  apps/nextjs-website/react-components/components/Editorial/Ctas.tsx
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/appleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeDarkBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/BadgeImages/googleBadgeLightBase64.ts
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
  apps/nextjs-website/react-components/declaration.d.ts
Labels: size/small, website

#582 [B2BP-1178] Bug Fix: Apple Store buttons show Google Play image
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Labels: size/small, website

#579 [B2BP-1160] [B2BP-1164] - Hero: change margins and font size of title
  .changeset/violet-berries-eat.md
  apps/nextjs-website/react-components/components/Hero/Hero.helpers.tsx
Labels: size/small, website, changeset

#584 [B2BP-1177] Handle Windows Phone user agent when opening app store from Header
  .changeset/eleven-kiwis-wave.md
  apps/nextjs-website/src/components/Header.tsx
Labels: size/small, website, changeset

#586 [B2BP-1176] Allow footer links to show OneTrust Preferencies
  .changeset/brave-students-act.md
  apps/nextjs-website/react-components/components/Footer/helpers/FooterColumn.tsx
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/lib/fetch/__tests__/footer.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/strapi-cms/src/components/components/footer-link.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#587 [B2BP-1179] Initialize MixPanel only after consent has been given
  .changeset/cuddly-queens-dream.md
  apps/nextjs-website/src/components/ConsentHandler.tsx
  apps/nextjs-website/src/components/TrackPageView.tsx
Labels: size/small, website, changeset

#589 Bug Fix - MixPanel: Opt in after init only if user was opted out
  .changeset/chatty-eagles-brake.md
  apps/nextjs-website/src/components/ConsentHandler.tsx
Labels: size/small, website, changeset

#591 [B2BP-1181] Strapi: Add trackItemOpen field to Accordion
  .changeset/empty-suits-reply.md
  apps/strapi-cms/src/components/sections/accordion.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#592 [B2BP-1154] Strapi: Add backlink to PressRelease
  .changeset/old-humans-fry.md
  apps/nextjs-website/src/lib/fetch/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/pressRelease.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/strapi-cms/src/components/sections/press-release.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#593 [B2BP-1173] Fetch PressReleases ordered by date (newest to oldest)
  .changeset/clean-llamas-relax.md
  apps/nextjs-website/src/lib/fetch/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/pressRelease.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
Labels: size/small, website, changeset

#595 [B2BP-1162] - VideoImage: change mobile image width
  .changeset/tricky-donuts-sell.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
Labels: size/small, website, changeset

#596 [B2BP-1182] Track FAQ opening with mixpanel
  .changeset/shaggy-spies-sit.md
  apps/nextjs-website/react-components/components/Accordion/Accordion.tsx
  apps/nextjs-website/react-components/components/Accordion/AccordionItem.tsx
  apps/nextjs-website/react-components/types/Accordion/Accordion.types.ts
  apps/nextjs-website/src/components/Accordion.tsx
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
Labels: size/small, website, changeset

#597 [B2BP-1184] - OneTrust: add margin bottom
  .changeset/gorgeous-candles-chew.md
  apps/nextjs-website/src/components/OneTrust.tsx
Labels: size/small, website, changeset

#599 [B2BP-1172] Add global properties to make ReCaptcha use recaptcha.net instead of google.com
  .changeset/real-seahorses-rush.md
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
Labels: size/small, website, changeset

#598 [B2BP-1143] - Nextjs press release add backlink
  .changeset/three-geese-sort.md
  apps/nextjs-website/react-components/components/PressRelease/PressRelease.tsx
  apps/nextjs-website/react-components/types/PressRelease/PressRelease.types.ts
  apps/nextjs-website/src/components/PressRelease.tsx
  apps/nextjs-website/src/lib/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/pressRelease.test.ts
  apps/nextjs-website/src/lib/fetch/__tests__/preview.test.ts
  apps/nextjs-website/src/lib/fetch/types/PageSection.ts
  apps/nextjs-website/stories/PressRelease/default.stories.tsx
Labels: size/small, website, changeset

#590 [B2BP-1174] Integrate the pawsbuilder-redirect logic
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small

#600 [B2BP-1185] [B2BP-1186] - PreFooter: fix bug on storybook and replace store buttons
  .changeset/dirty-mugs-judge.md
  apps/nextjs-website/react-components/assets/appleStoreOutlinedDark.png
  apps/nextjs-website/react-components/assets/appleStoreOutlinedLight.png
  apps/nextjs-website/react-components/assets/googleStoreOutlinedDark.png
  apps/nextjs-website/react-components/assets/googleStoreOutlinedLight.png
  apps/nextjs-website/react-components/components/PreFooter/PreFooter.tsx
Labels: size/small, website, changeset
