Repository pagopa/b2b-portals, pull requests merged in 2025-01, with the labels that each got.

#529 [B2BP-1076] - Service Carousel : add endless scrolling
  .changeset/famous-deers-glow.md
  apps/nextjs-website/react-components/components/ServiceCarousel/ServiceCarousel.tsx
Labels: size/small, website, changeset

#530 [B2BP-1011] Normalize URI in cloudfront-functions
  apps/cloudfront-functions/src/__tests__/viewer-request-handler.test.ts
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small

#532 [B2BP-1084] Update viewconfig for Form to show category label instead of ID
  .changeset/serious-shrimps-learn.md
  apps/strapi-cms/viewconfig.json
Labels: size/small, changeset

#533 [B2BP-1094] Strapi: Make VideoImage's subtitle RichText
  .changeset/sharp-weeks-report.md
  apps/strapi-cms/src/components/sections/video-image.json
Labels: size/small, changeset

#531 [B2BP-1011] Normalize URI in cloudfront-functions
  apps/cloudfront-functions/src/viewer-request-handler.ts
Labels: size/small

#534 [B2BP-1077] [B2BP-1081] Allow external URLs in Header's sublinks
  .changeset/neat-walls-lick.md
  apps/nextjs-website/react-components/components/Header/helpers/Header.MenuDropdown.helpers.tsx
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/header.ts
  apps/strapi-cms/src/components/menu/menu-sub-link.json
  apps/strapi-cms/viewconfig.json
Labels: size/small, website, changeset

#535 [B2BP-1078] - NextJS: Make VideoImage's subtitle RichText
  .changeset/slow-hotels-share.md
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.helpers.tsx
  apps/nextjs-website/react-components/components/VideoImage/VideoImage.tsx
  apps/nextjs-website/react-components/types/VideoImage/VideoImage.types.ts
  apps/nextjs-website/src/components/VideoImage.tsx
  apps/nextjs-website/stories/VideoImage/dark.stories.tsx
Labels: size/small, website, changeset

#537 [B2BP-1105] Fix CMS deploy github action
  .github/workflows/deploy_cms.yaml
  .github/workflows/deploy_nextjs.yaml
Labels: size/small, workflows

#538 [B2BP-1089] - Fix megaheader closing when clicking on anchored link
  .changeset/mean-roses-remember.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
Labels: size/small, website, changeset

#541 [B2BP-1101] - Form: fix radio buttons alignment
  .changeset/dirty-jars-argue.md
  apps/nextjs-website/react-components/components/Form/Form.helpers.tsx
Labels: size/small, website, changeset

#542 feat: update docker image strapi-cms
  apps/nextjs-website/Dockerfile
Labels: size/small, website

#543 fix: nextjs-website docker image version and strapi
  apps/nextjs-website/Dockerfile
  apps/strapi-cms/Dockerfile
Labels: size/small, website

#544 [B2BP-1086] [B2BP-1088] - Press Release: switch to european date notation and add margins to title
  .changeset/gorgeous-files-deny.md
  apps/nextjs-website/react-components/components/PressRelease/PressRelease.tsx
  apps/nextjs-website/react-components/components/PressReleaseList/PressReleaseList.tsx
  apps/nextjs-website/src/components/PressReleaseList.tsx
  apps/nextjs-website/stories/PressReleaseList/default.stories.tsx
Labels: size/small, website, changeset

#545 Bug Fix: Upgrade AWS S3 provider version and configuration
  .changeset/seven-berries-pump.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#546 [B2BP-1119] [B2BP-1122] Allow de, fr and sl locales
  .changeset/two-wolves-itch.md
  apps/nextjs-website/react-components/types/Footer/Footer.types.ts
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/app/[[...slug]]/page.tsx
  apps/nextjs-website/src/app/preview/page.tsx
  apps/nextjs-website/src/components/Footer.tsx
  apps/nextjs-website/src/components/MarkdownRenderer.tsx
  apps/nextjs-website/src/lib/api.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/footer.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/src/lib/fetch/navigation.ts
  apps/nextjs-website/src/lib/fetch/preFooter.ts
  apps/nextjs-website/src/lib/fetch/preHeader.ts
  apps/nextjs-website/src/lib/fetch/pressRelease.ts
  apps/nextjs-website/src/lib/fetch/preview.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/nextjs-website/src/lib/header.ts
  apps/nextjs-website/src/lib/linkLocalization.ts
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/src/api/general/content-types/general/schema.json
  apps/strapi-cms/src/components/shared/locales.json
  apps/strapi-cms/viewconfig.json
Labels: website, changeset

#549 [B2BP-1104] BUG FIX: Newsletter subscription fails with a 400 error
  .changeset/silent-parrots-learn.md
  apps/nextjs-website/react-components/components/Form/Form.tsx
Labels: size/small, website, changeset

#550 [B2BP-1138] Remove manifest generation
  .changeset/angry-moles-divide.md
  apps/nextjs-website/src/app/manifest.ts
  apps/nextjs-website/src/lib/fetch/__tests__/siteWideSEO.test.ts
  apps/nextjs-website/src/lib/fetch/siteWideSEO.ts
  apps/strapi-cms/src/api/general/content-types/general/schema.json
Labels: size/small, website, changeset

#547 [B2BP-1128] [B2BP-1130] - MegaHeader: add "novità" label to sublinks and custom cta to menu groups
  .changeset/little-students-visit.md
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.Helpers.ts
  apps/nextjs-website/react-components/components/MegaHeader/MegaHeader.tsx
  apps/nextjs-website/react-components/types/MegaHeader/MegaHeader.types.ts
  apps/nextjs-website/src/app/[[...slug]]/layout.tsx
  apps/nextjs-website/src/components/Header.tsx
  apps/nextjs-website/src/lib/__tests__/header.test.ts
  apps/nextjs-website/src/lib/fetch/header.ts
  apps/nextjs-website/stories/MegaHeader/light.stories.tsx
Labels: size/small, website, changeset

#551 [B2BP-1114] - HeroChips: change chip's color
  .changeset/clever-carpets-allow.md
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.helpers.tsx
  apps/nextjs-website/react-components/components/HeroChips/HeroChips.tsx
  apps/nextjs-website/react-components/components/common/Common.helpers.ts
  apps/nextjs-website/src/app/theme.ts
Labels: size/small, website, changeset
