Repository pagopa/b2b-portals, pull requests merged in 2025-05, with the labels that each got.

#641 Add possibility to set custom CSP and headers per tenant
  .changeset/soft-students-breathe.md
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/variables.tf
Labels: size/small, infra, changeset

#643 [B2BP-879] Setup Amazon SES for Strapi password recovery
  .changeset/olive-hounds-refuse.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: size/small, changeset

#644 [B2BP-879] Test: Update forgotPassword email template
  .changeset/sour-penguins-return.md
  apps/strapi-cms/config/admin.ts
Labels: size/small, changeset

#647 Add ADMIN_PANEL_URL env variable to strapi container
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#646 [B2BP-879] Officialize admin password-recovery email
  .changeset/nine-sloths-mate.md
  apps/strapi-cms/config/admin.ts
  apps/strapi-cms/config/server.ts
Labels: size/small, changeset
