Repository pagopa/b2b-portals, pull requests merged in 2025-06, with the labels that each got.

#651 [DUMMY-001] Staging website infra
  apps/infrastructure/src/acm.tf
  apps/infrastructure/src/cloudfront.tf
  apps/infrastructure/src/iam_policy.tf
  apps/infrastructure/src/route_53.tf
  apps/infrastructure/src/s3_bucket.tf
  apps/infrastructure/src/terraform.sh
Labels: size/small, infra

#656 [B2BP-1278] Update strapi environment variables
  apps/infrastructure/src/README.md
  apps/infrastructure/src/ecs.tf
  apps/infrastructure/src/task-definitions/cms_app.json.tpl
Labels: size/small, infra

#642 [B2BP-1255] Create workflows for deployment to staging and promotion to production
  .github/actions/deploy/action.yaml
  .github/workflows/deploy_website_prod.yaml
  .github/workflows/deploy_website_staging.yaml
Labels: size/small, workflows

#659 [B2BP-1269] Add s3:// before bucket names
  .github/workflows/deploy_website_prod.yaml
Labels: size/small, workflows

#664 [B2BP-1297] iFrame: Allow geolocation and clipboard-write actions
  .changeset/famous-fans-fetch.md
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Labels: size/small, website, changeset

#665 [B2BP-1298] iFrame: Allow child page to request scrolling to a section outside of the iframe
  .changeset/wise-dodos-listen.md
  apps/nextjs-website/react-components/components/IFrame/IFrame.tsx
Labels: size/small, website, changeset
